$main-font: 'Lato';
$secondary-font: 'Comfortaa';

//DIMENSIONS
$dim-standardUnit: 1em;

$dim-text-big: 2.5em;

$content-card-width: 1240px;
$content-card-height: 650px;

$dim-gap-standard: $dim-standardUnit;
$dim-gap-standard_half: $dim-standardUnit/2;
$dim-gap-standard_double: $dim-standardUnit*2;
