@if ({
  rowedRackedModules:((dataService.rowedRackedModules$|async)),
  isCurrentRackPropertyOfCurrentUser:(dataService.isCurrentRackPropertyOfCurrentUser$|async),
  isCurrentRackEditable:(dataService.isCurrentRackEditable$|async),
  userRequestedSmallerScale:(dataService.userRequestedSmallerScale$|async)
}; as bag) {
  <div class="col gap1"
  >
    @if (bag.rowedRackedModules == null) {
      <lib-auto-content-loading-indicator
        [skipFirstData]="true"
        [loadingLines]="5"
      >
      </lib-auto-content-loading-indicator>
    } @else {
    <lib-hero-content-card [description]="
                             (bag.isCurrentRackPropertyOfCurrentUser?(((bag.isCurrentRackPropertyOfCurrentUser&&bag.isCurrentRackEditable)?'Changes saved automatically / Right click on modules for more options / Add modules from below':'Press Edit to make changes')):'')"
                           descriptionAlign="alignTextEnd"
                           class="transition-all-long"
                           [ngClass]="{
                           'editiableBG':bag.isCurrentRackPropertyOfCurrentUser&&bag.isCurrentRackEditable, 
                           'readOnlyBG':(bag.isCurrentRackPropertyOfCurrentUser&&(!bag.isCurrentRackEditable))
                           }"
    >
      <div class="col gap1 transition-all">
        @if (dataService.isCurrentRackPrivate$|async) {
          <app-advice-tooltip
            [@enter]="{ value: '', params: { delay: 250}}"
          >
            This rack private. It won't be listed in search but will be accessible to anyone who has
            the URL
          </app-advice-tooltip>
        }
        @if (bag.isCurrentRackPropertyOfCurrentUser && bag.isCurrentRackEditable && (bag.rowedRackedModules | totalModulesOfRack) === 0) {
          <app-advice-tooltip
            [@enter]="{ value: '', params: { delay: 500}}"
          >
            Tip: Need gaps in your rack? Right-click any module and select "Replace with blank" to add spacing.
            Blanks are available in all sizes!
          </app-advice-tooltip>
        }
        <div class="rowwrap gap1">
          <div class="row gap1">
            <mat-slide-toggle [checked]="dataService.shouldShowPanelImages$|async"
                              (change)="dataService.shouldShowPanelImages$.next(!dataService.shouldShowPanelImages$.value)"
                              style="align-self: center;"
            >
              <div style="cursor: pointer;">
                Use images
              </div>
            </mat-slide-toggle>
            <mat-slide-toggle [checked]="dataService.showModuleCounters$|async"
                              (change)="dataService.showModuleCounters$.next(!dataService.showModuleCounters$.value)"
                              style="align-self: center;"
            >
              <div style="cursor: pointer;">
                Count modules
              </div>
            </mat-slide-toggle>
            <mat-slide-toggle [checked]="dataService.userRequestedSmallerScale$|async"
                              (change)="dataService.userRequestedSmallerScale$.next(!dataService.userRequestedSmallerScale$.value)"
                              style="align-self: center;"
            >
              <div style="cursor: pointer;">
                Reduce scale
              </div>
            </mat-slide-toggle>
          </div>
          <!--              create space between these-->
          <div fxFlex="1 1 auto"></div>
          <div class="row gap1">
            @if ((bag.rowedRackedModules|totalHpOfRack) > 0) {
              <app-brand-primary-button style="padding: 1rem 0;"
                                        icon="download"
                                        (click$)="dataService.downloadRackImageToUserComputer$.next()"
                                        matTooltip="Will download an image file of the rack to your computer"
                                        matTooltipPosition="above"
                                        matTooltipShowDelay="1000"
              >
                Download jpeg
              </app-brand-primary-button>
            }
            @if (bag.isCurrentRackPropertyOfCurrentUser && (bag.rowedRackedModules|totalHpOfRack) > 0) {
              <app-brand-primary-button style="padding: 1rem 0;"
                                        icon="image"
                                        (click$)="dataService.updateRackImagePreview$.next()"
                                        matTooltip="Will update the rack preview image to help you identify it in the lists"
                                        matTooltipPosition="above"
                                        matTooltipShowDelay="1000"
              >
                Update preview
              </app-brand-primary-button>
            }
          </div>
        </div>
        <div #rackViewport
             class="col scroll custom-scrollbar transition-all"
             [ngClass]="{'rackLocked':!(bag.isCurrentRackPropertyOfCurrentUser&&bag.isCurrentRackEditable)}"
        >
          <app-rack-visual-model [rackData]="data"
                                 [rowedRackedModules]="bag.rowedRackedModules"
                                 [isCurrentRackPropertyOfCurrentUser]="bag.isCurrentRackPropertyOfCurrentUser"
                                 [isCurrentRackEditable]="bag.isCurrentRackEditable"
                                 [rackDetailDataService]="dataService"
                                 [moduleRightClick$]="moduleRightClick$"
                                 [style.zoom]="autoScale"
                                 class="transition-all-long"
                                 [ngClass]="{'smallerScale':bag.userRequestedSmallerScale}"
          ></app-rack-visual-model>
        </div>
      </div>
    </lib-hero-content-card>
    <app-general-context-menu></app-general-context-menu>
    }
  </div>
  <ng-template #noData>
    <div fxFlex="100">
      <div class="col gap1 animate-fadein-slowest"
      >
        <mat-card-subtitle fxLayoutAlign="center start"
                           style="padding: 1rem"
        >No modules in rack yet
        </mat-card-subtitle>
      </div>
    </div>
  </ng-template>
}


<!--<div id="download" style="height: 0">-->
<!--  <img #canvas>-->
<!--  <a #download></a>-->
<!--</div>-->
