$bgOpacity:    0.8;
$bgGradientBG: rgb(223, 223, 223);

.readOnlyBG {
  //background: $bgGradientBG;
  background:       $bgGradientBG;
  background-color: transparentize(rgb(0, 0, 0, 0), $bgOpacity);
}

.editiableBG {
  //background: $bgGradientBG;
  background:       $bgGradientBG;
  background-color: transparentize(rgb(53, 178, 74), $bgOpacity);
}

.rackLocked {
  transform: scale(0.98);
}

.smallerScale {
  transform: scale(0.75);
}
