<ng-container *ngIf="{
  height:data.standard|getModuleHeightForStandard
  } as bag"
>
  <div *ngIf="containImage"
       fxLayoutAlign="center center"
  >
    <img *ngIf="filename"
         class="img"
         [ngStyle]="{maxHeight:32/sizeDivider+'rem'}"
         [src]="'https://sozmatmywjpstwidzlss.supabase.co/storage/v1/object/public/module-panels/'+filename"
         [@enter]
    >
    
    <lib-screen-wrapper *ngIf="!filename"
                        [maxSize]="data.hp/sizeDivider/2+'rem'"
                        [@enter]
    >
      <div [fxFlex]="data.hp/sizeDivider/2+'rem'"
           [ngStyle]="{height:((bag.height)/sizeDivider/2+'rem')}"
           class="preview"
           fxLayoutAlign="center center"
      >
      </div>
    </lib-screen-wrapper>
  </div>
  
  
  <ng-container *ngIf="!containImage">
    <div fxLayoutAlign="center center">
      <img *ngIf="filename"
           [ngStyle]="{maxHeight:((bag.height)+'rem')}"
           [src]="'https://sozmatmywjpstwidzlss.supabase.co/storage/v1/object/public/module-panels/'+filename"
           [@enter]
      >
    </div>
  </ng-container>
</ng-container>
