@if (containImage) {
  <div
       [routerLink]="disableNavigation ? null : ['/modules/details',data.id]"
       class="clickable modulePartImageHost layout-align-center-center"
       [@.disabled]="disableEnterAnimation"
       #tooltipAnchor
       [matTooltip]="tooltip"
       [matTooltipDisabled]="tooltipDisabled"
       [matTooltipClass]="tooltipClass"
       [matTooltipPosition]="tooltipPosition"
       (mouseenter)="updateTooltipPosition(tooltipAnchor)"
       (focusin)="updateTooltipPosition(tooltipAnchor)"
   >
    @if ({
      height: data.standard|getModuleHeightForStandard
    }; as bag) {
      @if (filename) {
        <img
          class="img image-transition"
          [class.img--fixed-height]="fixedHeight"
          [ngStyle]="fixedHeight ? {} : {maxHeight:32/sizeDivider+'rem'}"
          [src]="imageSrc"
          [@enter]
          [attr.loading]="imageLoadingMode"
          [attr.decoding]="imageDecodingMode"
          referrerpolicy="no-referrer"
          [alt]="'Panel image for '+data.name"
          (error)="onImageLoadError()"
        >
      }
      @if (!filename) {
        <div [ngStyle]="fixedHeight
                          ? { width: (data.hp * 8 / bag.height) + 'rem' }
                          : { width: (data.hp/sizeDivider/2)+'rem', height: (bag.height/sizeDivider/2)+'rem' }"
             class="preview img preview--empty"
             [class.preview--fixed-height]="fixedHeight"
             [@enter]
             [attr.title]="'No panel image uploaded yet for ' + data.name"
        >
          <mat-icon class="preview__icon" aria-hidden="true">image_not_supported</mat-icon>
          <span class="preview__label">No panel yet</span>
        </div>
      }
    }
  </div>
} @else {
  <div [routerLink]="disableNavigation ? null : ['/modules/details',data.id]"
       [attr.role]="disableNavigation ? null : 'link'"
       [attr.tabindex]="disableNavigation ? null : 0"
       class="clickable modulePartImageHost modulePartImageHost--surface"
       [@.disabled]="disableEnterAnimation"
       #tooltipAnchor
       [matTooltip]="tooltip"
       [matTooltipDisabled]="tooltipDisabled"
       [matTooltipClass]="tooltipClass"
       [matTooltipPosition]="tooltipPosition"
       (mouseenter)="updateTooltipPosition(tooltipAnchor)"
       (focusin)="updateTooltipPosition(tooltipAnchor)"
   >
    @if ({
      height: data.standard|getModuleHeightForStandard
    }; as bag) {
      @if (filename) {
        <img
          class="image-transition modulePartImageHost__surfaceImage"
          [class.img--fixed-height]="fixedHeight"
          [ngStyle]="fixedHeight ? {} : {maxHeight:((bag.height)+'rem')}"
          [src]="imageSrc"
          [@enter]
          [attr.loading]="imageLoadingMode"
          [attr.decoding]="imageDecodingMode"
          referrerpolicy="no-referrer"
          [alt]="'Panel image for '+data.name"
          (error)="onImageLoadError()"
        >
      }
    }
  </div>
}
