<ul class="open">
  @for (pillar of pillars; track pillar.title) {
    <li class="open__pillar">
      <mat-icon class="open__icon" aria-hidden="true">{{ pillar.icon }}</mat-icon>
      <h3 class="open__title">{{ pillar.title }}</h3>
      <p class="open__description">{{ pillar.description }}</p>
      <app-brand-primary-button class="open__link"
                                theme="light"
                                icon="north_east"
                                [href]="pillar.link.href"
                                target="_blank"
                                (click$)="ctaClicked.emit({cta: ctaKey(pillar), location: 'open'})"
      >{{ pillar.link.label }}</app-brand-primary-button>
    </li>
  }
</ul>
