.box {
  display:   flex;
  flex-wrap: wrap;
  //max-height: 60vh;
  //overflow-x: auto;
}

.box > * {
  flex:          1 1 14rem;
  margin-top:    .5rem;
  margin-right:  .5rem;
  margin-left:   .5rem;
  margin-bottom: .5rem;
  min-width:     12rem
}
