<mat-card fxFlex
          *ngIf='post'
>
  <lib-flex-column gap='1em'>
    <mat-card-title fxFlex>
      {{ post?.title }}
    </mat-card-title>
    <mat-card-subtitle>
      <lib-flex-row xs='column'
                    sm='column'
      >
        <div fxFlex>
          {{ post?.subtitle }}
        </div>
        <div fxFlex='grow'></div>
        <lib-flex-row fxFlex='35'
                      fxFlex.xs='100'
                      fxFlex.sm='100'
        >
          <div fxFlex>
            Posted: {{ post?.created|date }}
          </div>
          <div fxFlex
               style='text-align: end'
          >
            Edited: {{ post?.created|date }}
          </div>
        </lib-flex-row>
      </lib-flex-row>
    </mat-card-subtitle>
    <lib-spacer fxFlex></lib-spacer>
    <mat-card-content fxFlex>
      <markdown [data]="post.content"
                ngPreserveWhitespaces
      ></markdown>
    </mat-card-content>
  </lib-flex-column>
</mat-card>
