<mat-card *ngIf='post'
          class='cardHover'
>
  
  <lib-flex-column gap='1em'>
    <lib-flex-row xs='column'
                  fxFlex
                  gap='0.5em'
    >
      <mat-card-title fxFlex='grow'
                      style='font-size: xx-large'
      >
        {{ post?.title }}
      </mat-card-title>
      <app-category-indicator fxFlex
                              fxLayoutAlign.xs='end end'
                              fxLayoutAlign='center center'
                              [category]='post.category'
      ></app-category-indicator>
    </lib-flex-row>
    <mat-card-subtitle *ngIf='!noSubtitle'>
      <lib-flex-column
      >
        <div fxFlex>
          {{ post?.subtitle }}
        </div>
        <lib-flex-row *ngIf='!noDates'
                      fxFlex='100'
        >
          <div fxFlex='100'
          >
            Posted: {{ post?.created|date }}
          </div>
          <div fxFlex='100'
               style='text-align: end'
          >
            Edited: {{ post?.created|date }}
          </div>
        </lib-flex-row>
      </lib-flex-column>
    </mat-card-subtitle>
    <!--    <app-image-container fxFlex-->
    <!--                         *ngIf='post.image'-->
    <!--                         [image]='post.image'-->
    <!--                         [alt]="post.title"-->
    <!--                         style='padding-top: 0.5em'-->
    <!--    ></app-image-container>-->
    <lib-spacer fxFlex
                *ngIf='!noSpacer'
    ></lib-spacer>
    <mat-card-content fxFlex
                      *ngIf='!noContent'
    >
      <markdown [data]="post.content"
                ngPreserveWhitespaces
      ></markdown>
    </mat-card-content>
    <ng-content></ng-content>
  </lib-flex-column>
</mat-card>
