<ng-container *ngIf="{
data:(dataService.singleRackData$|async)
} as bag"
>
  <div class="col gap1"
  >
    <lib-hero-content-card titleBig="Rack details"
                           class="racksBG"
    >
      <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleRackData$"
                                          [data$]="dataService.singleRackData$"
      ></lib-auto-content-loading-indicator>
      <ng-container *ngIf="bag.data"
      >
        <div class="col gap1">
          <app-rack-composite [data]="(bag.data)"
          ></app-rack-composite>
          <lib-clean-card>
            <app-rack-editor
                [data]="(bag.data)"
            ></app-rack-editor>
          </lib-clean-card>
        </div>
      </ng-container>
    </lib-hero-content-card>
  </div>
</ng-container>
