//@import "../../app.component";

:host {
  display: block;
  width: 100%;
}

.showcase-root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  min-width: 0;
}

.showcase-content {
  display: flex;
  width: 100%;
  min-width: 0;
}

.showcase-content--column {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.showcase-content--row {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.showcase-content--push-end {
  justify-content: space-between;
}

.label {
  font-size: small;
  color: rgba(0, 0, 0, 0.66);
  min-width: 0;
  overflow-wrap: anywhere;
}

.value-content {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 0 0 auto;
}

.value-content--push-end {
  margin-left: auto;
}

.value {
  $size:     1.5rem;
  font-size: $size;

  @media (max-width: 79.375rem) {
    font-size: $size*0.95;
  }

  @media (max-width: 64rem) {
    font-size: $size*0.9;
  }

  @media (max-width: 36rem) {
    font-size: $size*0.85;
  }

  @media (max-width: 30rem) {
    font-size: $size*0.82;
  }

  @media (max-width: 22.5rem) {
    font-size: $size*0.75;
  }
  //color:     rgb(250, 250, 250);
}

.monospace {
  font-family: monospace, monospace;
}

.icon {
  flex: 0 0 auto;
  align-items: center;
}
