<div class="value-showcase"
     [fxLayout]="valueBelow ? 'column' : 'row'"
     [fxLayoutAlign]="pushToEnd?'space-between':''"
     fxLayoutGap=".4rem"
>
  <div fxFlex="100"
       class="label"
  >{{ label }}</div>
  <div fxFlex="100"
       fxLayout="row"
  
  >
    <div fxFlex="100"
         [fxLayoutAlign]="pushToEnd?'end':''"
         [class]="bigText ? 'value' : ''"
    >
      <div [class]="monospace ? 'monospace' : null">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
