<ng-container *ngIf="{
patchEditingPanelOpenState:(dataService.patchEditingPanelOpenState$|async),
data:(dataService.singlePatchData$|async)
} as bag"
>
  <ng-container *ngIf="!bag.patchEditingPanelOpenState">
    <div class="col gap1"
    >
      <lib-hero-content-card titleBig="Patch details"
                             class="patchesBG"
      >
        <div class="col gap1"
        >
          <div>
            <ng-container *ngIf="bag.data"
            >
              <app-patch-composite [data]="(bag.data)"
                                   [isEditing]="bag.patchEditingPanelOpenState"
              ></app-patch-composite>
            </ng-container>
          </div>
          <lib-auto-content-loading-indicator [updateData$]="dataService.updateSinglePatchData$"
                                              [data$]="dataService.singlePatchData$"
          ></lib-auto-content-loading-indicator>
        </div>
      </lib-hero-content-card>
    </div>
  </ng-container>
  <ng-container *ngIf="bag.patchEditingPanelOpenState">
    <div class="col gap1"
    >
      <lib-hero-content-card titleBig="Patch details"
                             class="patchesBG"
      >
        <div ngClass.gt-md="row gap1"
             ngClass.lt-lg="col gap1"
        >
          <div fxFlex.gt-md="28rem">
            <!--              <lib-clean-card>-->
            <ng-container *ngIf="bag.data"
            >
              <app-patch-composite [data]="(bag.data)"
                                   [isEditing]="bag.patchEditingPanelOpenState"
              ></app-patch-composite>
            </ng-container>
            <!--              </lib-clean-card>-->
          </div>
          <lib-auto-content-loading-indicator [updateData$]="dataService.updateSinglePatchData$"
                                              [data$]="dataService.singlePatchData$"
          ></lib-auto-content-loading-indicator>
          <lib-hero-content-card fxFlex.gt-md="fill"
                                 titleNormal="Connections Editor"
                                 *ngIf="bag.data&&bag.patchEditingPanelOpenState"

          >
            <lib-clean-card>
              <app-patch-editor
                  [data]="(bag.data)"
              ></app-patch-editor>
            </lib-clean-card>
          </lib-hero-content-card>
        </div>
      </lib-hero-content-card>
    </div>
  </ng-container>
</ng-container>
