@if ({
  patchEditingPanelOpenState: (dataService.patchEditingPanelOpenState$|async),
  data: (dataService.singlePatchData$|async)
}; as bag) {
  @if (!bag.patchEditingPanelOpenState) {
    <div class="col gap1"
    >
      <lib-hero-content-card titleBig="Patch details"
                             class="patchesBG"
      >
        <div class="col gap1"
        >
          <div>
            <ng-template [ngTemplateOutlet]="patch"></ng-template>
          </div>
          <lib-auto-content-loading-indicator [updateData$]="dataService.updateSinglePatchData$"
                                              [data$]="dataService.singlePatchData$"
          ></lib-auto-content-loading-indicator>
        </div>
      </lib-hero-content-card>
    </div>
  }
  @if (bag.patchEditingPanelOpenState) {
    <div class="col gap1"
    >
      <lib-hero-content-card titleBig="Patch editing"
                             class="patchesBG"
      >
        <div class="col gap1"
        >
          <div>
            <ng-template [ngTemplateOutlet]="patch"></ng-template>
          </div>
          <lib-auto-content-loading-indicator [updateData$]="dataService.updateSinglePatchData$"
                                              [data$]="dataService.singlePatchData$"
          ></lib-auto-content-loading-indicator>
        </div>
      </lib-hero-content-card>
      @if (bag.data && bag.patchEditingPanelOpenState) {
      <lib-hero-content-card titleNormal="Connections Editor"
      >
        <app-patch-editor [data]="(bag.data)"
        ></app-patch-editor>
        <!--        </div>-->
      </lib-hero-content-card>
      }
    </div>
  }
  <ng-template #patch>
    @if (bag.data) {
      <app-patch-composite [data]="(bag.data)"
                           [isEditing]="bag.patchEditingPanelOpenState"
                           [viewConfig]="viewConfig"
      ></app-patch-composite>
    }
  </ng-template>
}