<ng-container *ngIf="{
  userProfile:(userService.loggedUserFullProfile$|async)
  } as bag"
>
  <lib-screen-wrapper maxSize="130rem">
    
    <lib-clean-card style="max-width: 26rem;min-width:18rem" *ngIf="bag.userProfile">
      <app-label-value-showcase label="User"
      >{{ bag.userProfile.username }}
      </app-label-value-showcase>
    </lib-clean-card>
    
    <div class="col gap1"
    >
      <app-user-manuals fxFlex="100"></app-user-manuals>
      
      <div fxLayout.gt-md="row"
           fxLayout="column"
           fxLayoutGap="1rem"
      >
        <app-user-comments fxFlex="100"></app-user-comments>
        
        <app-user-modules fxFlex="100"
                          [modulesViewConfig]="viewConfig"
                          [encloseVertically]="false"
        ></app-user-modules>
        <app-user-racks fxFlex="100"></app-user-racks>
        <app-user-patches fxFlex="100"></app-user-patches>
      </div>
    
    </div>
  </lib-screen-wrapper>
</ng-container>