<ng-container *ngIf="{
  userProfile:(userService.userProfile$|async)
  } as bag"
>
  <div class="col gap1"
       *ngIf="bag.userProfile"
  >
    <lib-clean-card>
      <app-label-value-showcase label="User"
                                fxLayoutAlign="start center"
      >{{bag.userProfile.username}}</app-label-value-showcase>
    </lib-clean-card>
    <div fxLayout.gt-md="row"
         fxLayout="column"
         fxLayoutGap="1rem"
    >
      <app-user-modules fxFlex="100"
                        [viewConfig]="viewConfig"
      ></app-user-modules>
      <app-user-racks fxFlex="100"></app-user-racks>
      <app-user-patches fxFlex="100"></app-user-patches>
    </div>
  </div>
</ng-container>
