<div fxFlex="auto"
     fxLayout="column"
     fxLayoutGap="2rem"
     fxLayoutGap.xs="0rem"
>
  <mat-card-title fxFlex="auto">Login to patcher.xyz</mat-card-title>
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
  >
    <app-login-email fxFlex="auto"></app-login-email>
    <mat-card-subtitle fxLayoutAlign="center"
                       routerLink="/auth/signup"
                       style="cursor: pointer"
    >Sign up instead?
    </mat-card-subtitle>
  </div>
</div>
