<ng-container *ngIf="{
  user:(userManagerService.loggedUser$|async),
  isInCollection:(isInCollection$|async),
  singleModuleData:(dataService.singleModuleData$|async)
  } as bag"
>
  <div class="col parent"
  >
    <div class="col"
    >
      <app-module-part-image [data]="data"
                             [big]="viewConfig.bigPanelImage"
                             class="panel"
      ></app-module-part-image>
      <app-module-part-name [data]="data"></app-module-part-name>
      <div class="row gap1 spaceBetween"
      >
        <app-module-part-manufacturer *ngIf="!viewConfig.hideManufacturer"
                                      [data]="data"
        ></app-module-part-manufacturer>
        <app-module-part-hp *ngIf="!viewConfig.hideHP"
                            [data]="data"
        ></app-module-part-hp>
      </div>
      <app-timestamps-relative [data]="data"
                               *ngIf="!viewConfig.hideDates"
      ></app-timestamps-relative>
      <app-module-part-description [data]="data"
                                   *ngIf="!viewConfig.hideDescription"
                                   [viewConfig]="viewConfig"
      ></app-module-part-description>

    </div>

    <app-module-tags [data]="data"
                     *ngIf="!viewConfig.hideTags"
    ></app-module-tags>
    <ng-content></ng-content>
    <ng-container *ngIf="!viewConfig.hideButtons">
      <mat-divider [inset]="true"
                   style="margin-top:.5rem"
      ></mat-divider>
      <div class="row gap2 opacizeOnHover"
           fxLayoutGap.xs="0rem"
      >
        <div fxFlex="100"
             fxLayout="row"
             fxLayoutGap="1rem"
        >
          <ng-container *ngIf="!bag.isInCollection">
            <button mat-icon-button
                    matTooltip="Add to your collection"
                    *ngIf="(bag.singleModuleData)"
                    [disabled]="!bag.user||(bag.singleModuleData.manufacturer.id===10000)"
                    [title]="!bag.user ? 'Login to add to modules your collection':''"
                    (click)="dataService.addModuleToCollection$.next(data.id)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="bag.isInCollection">
            <button mat-icon-button
                    matTooltip="Remove from your collection"
                    *ngIf="(bag.singleModuleData)"
                    [disabled]="!bag.user||(bag.singleModuleData.manufacturer.id===10000)"
                    (click)="dataService.removeModuleFromCollection$.next(data.id)"
            >
              <mat-icon>eject</mat-icon>
            </button>
          </ng-container>


          <button mat-icon-button
                  matTooltip="Add to rack"
                  [title]="!bag.user ? 'Login to add to modules your rack':''"
                  *ngIf="(bag.singleModuleData)"
                  [disabled]="(!bag.user)||(bag.singleModuleData.manufacturer.id===10000)"
                  (click)="dataService.requestAddModuleToRack$.next(data)"
          >
            <mat-icon>playlist_add</mat-icon>
          </button>


          <ng-container *ngIf="rackDataService.singleRackData$|async as rackData">
            <button mat-icon-button
                    [matTooltip]="'Add to '+rackData.name"
                    [title]="!bag.user ? 'Login to add to modules your rack':''"
                    *ngIf="rackDataService.isCurrentRackEditable$|async"
                    (click)="rackDataService.addModuleToRack$.next(data)"
            >
              <mat-icon>playlist_add</mat-icon>
            </button>
          </ng-container>

        </div>
        <div fxFlex="grow"></div>
        <div class="row gap1">
          <ng-container *ngIf="(bag.singleModuleData&&bag.user)">
            <ng-container *ngIf="(dataService.moduleEditingPanelOpenState$|async)==false">
              <button mat-icon-button
                      matTooltip="Edit module"
                      [disabled]="(!bag.user)||bag.singleModuleData.isComplete||(bag.singleModuleData.manufacturer.id===10000)"
                      (click)="dataService.moduleEditingPanelOpenState$.next(!dataService.moduleEditingPanelOpenState$.value)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="(dataService.moduleEditingPanelOpenState$|async)==true">
              <button mat-icon-button
                      matTooltip="Close editor"
                      [disabled]="!bag.user"
                      (click)="dataService.moduleEditingPanelOpenState$.next(!dataService.moduleEditingPanelOpenState$.value)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="bag.singleModuleData">
            <a mat-icon-button
               matTooltip="Open manual"
               *ngIf="bag.singleModuleData.manualURL"
               target="_blank"
               rel="noopener noreferrer"
               [href]="bag.singleModuleData.manualURL"
            >
              <mat-icon>menu_book</mat-icon>
            </a>

            <a mat-icon-button
               matTooltip="Copy module name to clipboard"
               (click)="dataService.copyModuleNameAndManufacturer$.next()"
            >
              <mat-icon>content_copy</mat-icon>
            </a>

            <a mat-icon-button
               matTooltip="Seach on Google"
               target="_blank"
               rel="noopener noreferrer"
               [href]="'https://www.google.com/search?q='+bag.singleModuleData.name+' by '+bag.singleModuleData.manufacturer.name"
            >
              <mat-icon>open_in_new</mat-icon>
            </a>

          </ng-container>


          <!--          <ng-container *ngIf="!bag.singleModuleData">-->
          <!--            <a mat-icon-button-->
          <!--               matTooltip="Show details"-->
          <!--               [routerLink]="['/modules/details',data.id]"-->
          <!--            >-->
          <!--              <mat-icon>info</mat-icon>-->
          <!--            </a>-->
          <!--  -->
          <!--          </ng-container>-->

        </div>
      </div>
    </ng-container>
  </div>
</ng-container>