@import "src/app/style/brand-resources.scss";
@import "src/app/style/commons_customizations.scss";

.parent {
  > .opacizeOnHover {
    opacity: 0.2;

  }
}

.parent:hover > .opacizeOnHover {
  opacity:            1;
  -webkit-transition: opacity 125ms ease-in-out;
  -moz-transition:    opacity 125ms ease-in-out;
  -ms-transition:     opacity 125ms ease-in-out;
  -o-transition:      opacity 125ms ease-in-out;
  transition:         opacity 125ms ease-in-out;
}

.description {
  @include item-description

}

.panel {
  margin-bottom: .5rem
}