<ng-container *ngIf="{
  user:(userManagerService.user$|async),
  isInCollection:(isInCollection$|async),
  singleModuleData:(dataService.singleModuleData$|async)
  } as bag"
>
  <div class="flow col parent"
  >
    <div class="flow col"
    >
      <mat-card-title infoBox
                      infoText="Module name"
      >{{data.name}}</mat-card-title>
      <div class="flow row spaceBetween description"
           fxLayoutGap="1rem"
           *ngIf="data.description"
      >
        <mat-card-subtitle>{{data.description|ellipsis:75}}</mat-card-subtitle>
      </div>
      <div class="flow row spaceBetween"
           fxLayoutGap="1rem"
      >
        <div>
          <mat-card-subtitle infoBox
                             infoText="Manufacturer name"
          >{{data.manufacturer.name}}</mat-card-subtitle>
        </div>
        <div style="font-size: small"
             fxLayoutAlign="center center"
        >
          {{data.standard == 0 ? '' : data.standard == 1 ? 'Intellijel 1U' : data.standard == 2 ? 'PulpLo Logic 1U' : ""}}
          {{data.hp}} HP
        </div>
      </div>
    </div>
    <ng-content></ng-content>
    <mat-divider [inset]="true"
                 style="margin-top:.5rem"
    ></mat-divider>
    <div class="flow row buttons"
         fxLayoutGap="2rem"
    >
      <div fxFlex="auto"
           fxLayout="row"
           fxLayoutGap="1rem"
      >
        <ng-container *ngIf="!bag.isInCollection">
          <button mat-icon-button
                  matTooltip="Add to your collection"
                  *ngIf="(bag.singleModuleData)"
                  [disabled]="!bag.user"
                  (click)="dataService.addModuleToCollection$.next(data.id)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="bag.isInCollection">
          <button mat-icon-button
                  matTooltip="Remove from your collection"
                  *ngIf="(bag.singleModuleData)"
                  [disabled]="!bag.user"
                  (click)="dataService.removeModuleFromCollection$.next(data.id)"
          >
            <mat-icon>eject</mat-icon>
          </button>
        </ng-container>
  
  
        <button mat-icon-button
                matTooltip="Add to rack"
                *ngIf="(bag.singleModuleData)"
                [disabled]="(!bag.user)"
                (click)="dataService.addModuleToRack$.next(data)"
        >
          <mat-icon>playlist_add</mat-icon>
        </button>
      </div>
      <div fxFlex="grow"></div>
      <div fxFlex="auto"
           fxLayout="row"
           fxLayoutGap="1rem"
      >
        <ng-container *ngIf="(bag.singleModuleData)">
          <ng-container *ngIf="(dataService.moduleEditingPanelOpenState$|async)==false">
            <button mat-icon-button
                    matTooltip="Edit module"
                    [disabled]="(!bag.user)||bag.singleModuleData.isComplete"
                    (click)="dataService.moduleEditingPanelOpenState$.next(!dataService.moduleEditingPanelOpenState$.value)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="(dataService.moduleEditingPanelOpenState$|async)==true">
            <button mat-icon-button
                    matTooltip="Close editor"
                    [disabled]="!bag.user"
                    (click)="dataService.moduleEditingPanelOpenState$.next(!dataService.moduleEditingPanelOpenState$.value)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </ng-container>
        <a mat-icon-button
           matTooltip="Show details"
           [routerLink]="['/modules/details',data.id]"
        >
          <mat-icon>search</mat-icon>
        </a>
      </div>
    </div>
  </div>
</ng-container>
