<div class="col gap1"
>
  <lib-hero-content-card titleNormal="Modules"
                         description="Modules added to your collection will be visible in the patch builder"
                         class="modulesBG"
                         icon="view_module"
                         id="modules"
  >
    <ng-container *ngTemplateOutlet="content;">
    </ng-container>
  </lib-hero-content-card>
</div>



<ng-template #content>
  <div class="col gap1"
  >
    @if (!(userModulesComponentViewConfig.hideAddModulesButton)) {
      <div class="row gap1 auto-left"
      >
        <app-brand-primary-button appDiscoveryTipAnchor="user-area-modules-submit"
                                  routerLink="/modules/add"
                                  icon="upload"
                                  fxLayoutAlign="end"
        >Submit NEW
        </app-brand-primary-button>
        <app-brand-primary-button appDiscoveryTipAnchor="user-area-modules-add"
                                  routerLink="/modules/browser"
                                  (click$)="dataService.addModulesToCollection$.next()"
                                  icon="add"
                                  fxLayoutAlign="end"
        >Add modules to collection
        </app-brand-primary-button>
      </div>
      <mat-divider inset="true"></mat-divider>
    }
    
    <lib-auto-update-loading-indicator [data$]="dataService.modulesData$"
                                       [updateData$]="dataService.updateModulesData$"
    >
      @if ((dataService.pagedModulesData$ | async); as data) {
        @if (data.length > 0) {
          <app-module-list fxFlex="grow"
                           [data$]="dataService.pagedModulesData$"
                           [viewConfig]="modulesViewConfig"
                           [showSearch]="false"
                           [externalSearchQuery]="globalSearchQuery"
                           [encloseVertically]="encloseVertically"
          ></app-module-list>
        } @else {
          <div fxFlex="100">
            <mat-card-subtitle fxLayoutAlign="center center">So far, you haven't added any modules to your
              collection. Try adding a few!
            </mat-card-subtitle>
          </div>
        }
      }
    </lib-auto-update-loading-indicator>
    @if ((dataService.modulesData$ | async)?.length > 10) {
      <mat-paginator
        [pageSize]="dataService.modulesPagination.take$.value"
        [pageSizeOptions]="[10, 20, 50]"
        [length]="(dataService.modulesData$ | async)?.length"
        (page)="dataService.modulesPageEvent$.next($event)"
        showFirstLastButtons
      ></mat-paginator>
    }

  </div>
</ng-template>
