<div class="col gap1"
>
  <lib-hero-content-card titleBig="My modules"
                         class="modulesBG"
                         icon="view_module"
  >
    <div class="col gap1"
    >
      <app-module-list fxFlex="grow"
                       [data$]="data$"
                       [viewConfig]="viewConfig"
                       *ngIf="(data$|async).length>0 else noData"
      ></app-module-list>
      
      <app-brand-primary-button routerLink="/modules/browser"
                                fxLayoutAlign="start"
      >Add modules to collection
      </app-brand-primary-button>
    </div>
  </lib-hero-content-card>
</div>

<ng-template #noData>
  <div fxFlex="auto">
    <mat-card-subtitle fxLayoutAlign="center center">It looks like you haven't added any modules
                                                     to your collection yet.
                                                     Try adding some!
    </mat-card-subtitle>
  </div>
</ng-template>
