<div class="col gap1"
>
  <lib-hero-content-card titleBig="Modules"
                         description="Modules added to your collection will be visible in the patch builder"
                         class="modulesBG"
                         icon="view_module"
                         id="modules"
  >
    <div class="col gap1"
    >
      <app-brand-primary-button routerLink="/modules/browser"
                                fxLayoutAlign="end"
      >Add modules to collection
      </app-brand-primary-button>
      <mat-divider inset="true"></mat-divider>
      <app-module-list fxFlex="grow"
                       [data$]="data$"
                       [viewConfig]="viewConfig"
                       [showSearch]="true"
                       *ngIf="(data$|async).length>0 else noData"
      ></app-module-list>
  
    </div>
  </lib-hero-content-card>
</div>

<ng-template #noData>
  <div fxFlex="auto">
    <mat-card-subtitle fxLayoutAlign="center center">So far, you haven't added any modules to your
                                                     collection. Try adding a few!
    </mat-card-subtitle>
  </div>
</ng-template>
