<ng-container *ngIf="{
data:(dataService.singleModuleData$|async),
racksWithThisModule:(dataService.racksWithThisModule$|async),
patchesWithThisModule:(dataService.patchesWithThisModule$|async)
} as bag"
>
  <div class="col gap1"
  >
    <lib-hero-content-card titleBig="Module details"
                           class="modulesBG"
    >
      <div class="col gap1"
      >
        <lib-screen-wrapper maxSize="36rem">
          <lib-clean-card>
            
            <lib-auto-content-loading-indicator *ngIf="bag.data==null;else data"
                                                [skipFirstData]="true"
                                                [loadingLines]="5"
            >
            </lib-auto-content-loading-indicator>
  
  
            <ng-template #data>
              <app-module-composite [data]="(bag.data)"
                                    [viewConfig]="viewConfig"
              ></app-module-composite>
            </ng-template>

          </lib-clean-card>


        </lib-screen-wrapper>
        <!--  -->
        <!--                  <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleModuleData$"-->
        <!--                                                      [data$]="dataService.singleModuleData$"-->
        <!--                  ></lib-auto-content-loading-indicator>-->

        <!--          <lib-clean-card *ngIf="bag.data">-->
        <!--            <app-module-patches [module]="bag.data"></app-module-patches>-->
        <!--          </lib-clean-card>-->


        <!--          hidden cause circular dependency-->
        <!--          <app-module-patches [data$]="dataService.modulePatchesList$"></app-module-patches>-->
        <!--              stuff-->
  
  
        <lib-screen-wrapper>
          <lib-hero-content-card *ngIf="bag.data&&dataService.moduleEditingPanelOpenState$|async"
                                 titleNormal="CV Editor"
          >
            <app-module-editor
                [data]="(bag.data)"
            ></app-module-editor>
          </lib-hero-content-card>
          <div fxLayoutGap="1rem"
               fxLayout.lt-md="column"
               fxLayout.gt-md="row"
          >
            <lib-hero-content-card fxFlex
                                   titleNormal="Racked in"
            >
  
  
              <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleModuleData$"
                                                  [data$]="dataService.racksWithThisModule$"
              >
                <app-module-racks *ngIf="(bag.racksWithThisModule)&&(bag.racksWithThisModule).length>0; else noRacks"
                                  [data$]="dataService.racksWithThisModule$"
                ></app-module-racks>
              </lib-auto-content-loading-indicator>
            </lib-hero-content-card>
            <lib-hero-content-card fxFlex
                                   titleNormal="Patched in"
            >
  
  
              <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleModuleData$"
                                                  [data$]="dataService.patchesWithThisModule$"
              >
                <app-module-patches *ngIf="(bag.patchesWithThisModule)&&(bag.patchesWithThisModule).length>0; else noPatches"
                                    [data$]="dataService.patchesWithThisModule$"
                ></app-module-patches>
              </lib-auto-content-loading-indicator>
            </lib-hero-content-card>
          </div>
        </lib-screen-wrapper>

      </div>
    </lib-hero-content-card>
  </div>
</ng-container>

<ng-template #noRacks>
  <div class="col gap1 animate-fadein-slowest"
  >
    <mat-card-subtitle fxLayoutAlign="center start"
                       style="padding: 1rem"
    >No racks using this module yet. Try adding it to yours!
    </mat-card-subtitle>
  </div>
</ng-template>
<ng-template #noPatches>
  <div class="col gap1 animate-fadein-slowest"
  >
    <mat-card-subtitle fxLayoutAlign="center start"
                       style="padding: 1rem"
    >No patches using this module yet. Try adding it to yours!
    </mat-card-subtitle>
  </div>
</ng-template>