<div class="col gap1"
>
  <lib-hero-content-card titleBig="Modules"
                         class="modulesBG"
  >
    <div class="col gap1"
    >
      <div fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutGap="1rem"
      >
        <lib-mat-form-entity [control]="dataService.fields.search.control"
                             [type]="dataService.fields.search.type"
                             [label]="dataService.fields.search.label"
        ></lib-mat-form-entity>
        
        <lib-mat-form-entity [control]="dataService.fields.manufacturers.control"
                             [type]="dataService.fields.manufacturers.type"
                             [options$]="dataService.fields.manufacturers.options$"
                             [label]="dataService.fields.manufacturers.label"
        ></lib-mat-form-entity>
        
        <lib-mat-form-entity
            [control]="dataService.fields.order.control"
            [options$]="dataService.fields.order.options$"
            [type]="dataService.fields.order.type"
            [disableVoidSelection]="true"
            label="Order modules by"
        ></lib-mat-form-entity>
  
        <div fxFlex="100"
             fxLayoutAlign="end start"
        >
          <app-brand-primary-button routerLink="/modules/add"
                                    fxLayoutAlign="end"
          >Submit a NEW module
          </app-brand-primary-button>
        </div>
      </div>
  
      <mat-paginator [hidePageSize]="(dataService.serversideAdditionalData.itemsCount$|async)<20"
                     [pageSizeOptions]="[20,25,50,100]"
                     [length]="dataService.serversideAdditionalData.itemsCount$|async"
  
                     (page)="dataService.onPageEvent($event)"
                     showFirstLastButtons
      ></mat-paginator>
  
      <app-module-list [data$]="dataService.modulesList$"
                       [viewConfig]="moduleViewConfig"
                       [encloseVertically]="false"
      ></app-module-list>
      <lib-auto-update-loading-indicator [data$]="dataService.modulesList$"
                                         [updateData$]="dataService.updateModulesList$"
      ></lib-auto-update-loading-indicator>
    </div>
    <!--  <pre>{{(dataService.data$|async)|json}}</pre>-->
  </lib-hero-content-card>
  <app-empty-state></app-empty-state>
</div>