@if (!!item) {
  <div class="rowwrap gap1 cv-row">
    <div class="cv-row-meta">
      <div class="cv-row-status"
           [class.cv-row-status--draft]="isRemovable"
           [class.cv-row-status--locked]="!isRemovable"
           [matTooltip]="statusLabel"
           matTooltipPosition="above"
      >
        {{ statusCompactLabel }}
      </div>
      <button mat-icon-button
              class="cv-row-action"
              [class.cv-row-action--removable]="isRemovable"
              [disabled]="!isRemovable"
              [attr.aria-label]="actionAriaLabel"
              [attr.data-cv-removable]="isRemovable"
              [matTooltip]="actionTooltip"
              matTooltipPosition="above"
              matTooltipShowDelay="120"
              (click)="requestRemove()"
      >
        <mat-icon>{{ actionIcon }}</mat-icon>
      </button>
    </div>
    <div class="cv-field cv-field--name">
      <lib-mat-form-entity [type]="types.TEXT"
                           [control]="item.name"
                           label="name"
                           iconL1="label"
      ></lib-mat-form-entity>
    </div>
    <div class="cv-field cv-field--voltage cv-field--voltage-a">
      <lib-mat-form-entity [type]="types.NUMBER"
                           [control]="item.a"
                           label="Minimum Voltage (V)"
                           iconL1="remove"
      ></lib-mat-form-entity>
    </div>
    <div class="cv-field cv-field--voltage cv-field--voltage-b">
      <lib-mat-form-entity [type]="types.NUMBER"
                           [control]="item.b"
                           label="Maximum Voltage (V)"
                           iconL1="add"
      ></lib-mat-form-entity>
    </div>
    <mat-divider class="cv-row-divider"
                 inset="true"
    ></mat-divider>
  </div>
}
