<div fxFlex="auto"
     fxLayout="column"
     fxLayoutGap="1rem"
>
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
       *ngIf="ins.length>0"
  >
    <mat-card-subtitle style="border-right: .5rem solid rgba(193,98,98,0.2)">{{ins.length}}
      INs:
    </mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
      <mat-chip-list>
        <ng-container *ngFor="let item of ins">
          <app-module-cvitem [data]="item"
                             (click$)="inClick$.next([$event,data])"
          ></app-module-cvitem>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
       *ngIf="outs.length>0"
  >
    <mat-card-subtitle style="border-right: .5rem solid  rgba(98,193,144,0.2)">{{outs.length}}
      OUTs:
    </mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
      <mat-chip-list>
        <ng-container *ngFor="let item of outs">
          <app-module-cvitem [data]="item"
                             (click$)="outClick$.next([$event,data])"
          ></app-module-cvitem>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
</div>
