@import "~src/app/app.component";
@import "../../../Styles/Components/toolbar";

.color {
  background-color: rgba(0, 0, 0, 0.2);
  //color: rgba(255, 255, 255, 0.91);
}

.toolbarFab {
  top: 2.1em;
  right: 1em;
  z-index: 1;
}
