<mat-toolbar *ngIf='data.toolbarVisible$|async'
             class='color'
>
  <mat-toolbar-row>
    <div *ngIf='(data.title|async).length>0'
         style='padding-right: 1em'
         fxFlex
         fxFlexAlign='center center'
         fxHide.xs='true'
         class='title'
    >{{ data.title|async }}</div>
    <div fxFlex='grow'></div>
    <div fxFlex>
      <a mat-icon-button
         href="/"
      >
        <mat-icon class="mat-18">home</mat-icon>
      </a>
      <a href="/blog"
         mat-button
      >
        Blog
      </a>
      <a href="/blog"
         mat-button
      >Music</a>
      <a href="/blog"
         mat-button
      >Code</a>
      <a href="/blog"
         mat-button
      >Photography</a>
      <a href="/blog"
         mat-button
      >Ideas</a>
    </div>
    <div fxFlex='grow'></div>
    <div *ngIf='(data.title|async).length>0'
         style='padding-left: 1em;opacity: 0'
         fxFlex
         fxFlexAlign='center center'
         fxHide.xs='true'
         class='title'
    >{{ data.title|async }}</div>
  
  </mat-toolbar-row>
</mat-toolbar>

