@if ({
  filteredData:(filteredData$|async),
  data:(data$|async)
}; as bag) {
  @if (bag.data == null) {
    <lib-auto-content-loading-indicator
      [skipFirstData]="true"
      [loadingLines]="5"
    >
    </lib-auto-content-loading-indicator>
  } @else {
    <div class="col gap1">
      @if (showSearch) {
        <div class="row gap1"
        >
          <app-local-data-filter></app-local-data-filter>
        </div>
      }
      <flexbox-row-fast [ngClass]="{'limit-height': encloseVertically}"
      >
        @for (item of bag.filteredData; track item.id) {
          <lib-clean-card [@enter]="{ value: '', params: { delay: getEnterDelay(item.id)}}"
                          [@leave]="{ value: '', params: { delay:  0 }}"
                          class="item"
          >
            @if (coolReactionsEnabled) {
              <app-cool-button
                class="rack-list-card-cool"
                [entityType]="ReactionEntityTypes.RACK"
                [entityId]="item.id"
                [eligible]="item.public === true"
                countDisplayMode="count"
              ></app-cool-button>
            }
            <app-rack-micro [data]="item"
                            [viewConfig]="viewConfig"
            ></app-rack-micro>
          </lib-clean-card>
        } @empty {
          <div class="browser-list-empty-state flexbox-row-fast__full-row">
            <app-empty-state></app-empty-state>
          </div>
        }
      </flexbox-row-fast>
    </div>
  }
}
