@if ((dataService.manualsData$|async); as data) {
  @if (data.length > 0) {
    <div class="col gap1"
    >
      <lib-hero-content-card description="Available manuals for your modules. Click to open"
                             class="manualsBG"
                             [sidesPadding]="true"
                             [vertPadding]="true"
                             icon="book"
                             id="manuals"
      >
        <div class="col gap1"
        >
          @if (data.length > 0) {
            <mat-chip-listbox>
              @for (item of data; track item) {
                <mat-chip-option (click)="openManual(item.manualURL)">{{ item.name }}</mat-chip-option>
              }
            </mat-chip-listbox>
          } @else {
            <mat-card-subtitle
              style="padding: 1rem; align-self: center; text-align: center; width: 100%"
            >It looks like you haven't got any modules with manuals
              yet
            </mat-card-subtitle>
          }
          <lib-auto-update-loading-indicator [data$]="dataService.manualsData$"
                                             [updateData$]="dataService.updateManualsData$"
          ></lib-auto-update-loading-indicator>
        </div>
      </lib-hero-content-card>
    </div>
  }
}