@if ({
  manuals: (dataService.manualsData$|async),
  filteredManuals: (dataService.filteredManualsData$|async),
  hasSearchQuery: (dataService.hasSearchQuery$|async)
}; as bag) {
  @if (bag.manuals && bag.manuals.length > 0) {
    <div class="col gap1 manuals-shell"
    >
      <lib-hero-content-card description="Available manuals for your modules. Click to open"
                             titleNormal="Manuals"
                             class="manualsBG"
                             [sidesPadding]="true"
                             [vertPadding]="true"
                             icon="book"
                             id="manuals"
      >
        <div class="col gap1 manuals-stack"
        >
          @if (bag.filteredManuals && bag.filteredManuals.length > 0) {
            <div class="manuals-list">
              <mat-chip-listbox class="manuals-chip-list">
                @for (item of bag.filteredManuals; track item) {
                  <mat-chip-option (click)="openManual(item.manualURL)">{{ item.name }}</mat-chip-option>
                }
              </mat-chip-listbox>
            </div>
          } @else {
            <mat-card-subtitle class="manuals-empty">
              @if (bag.hasSearchQuery) {
                No manuals match the current search
              } @else {
                It looks like you haven't got any modules with manuals yet
              }
            </mat-card-subtitle>
          }
          <lib-auto-update-loading-indicator [data$]="dataService.manualsData$"
                                             [updateData$]="dataService.updateManualsData$"
          ></lib-auto-update-loading-indicator>
        </div>
      </lib-hero-content-card>
    </div>
  }
}
