<ng-container *ngIf="{
  data:(data$|async)
  } as bag"
>
  <lib-auto-content-loading-indicator *ngIf="bag.data==null;else data"
                                      [skipFirstData]="true"
                                      [loadingLines]="5"
  >
  </lib-auto-content-loading-indicator>
  
  
  <ng-template #data>
    <flexbox-row-fast
    >
      <ng-container *ngFor="let item of bag.data">
        <div>
          <lib-hero-item-card>
            <app-rack-minimal [data]="item"></app-rack-minimal>
          </lib-hero-item-card>
        </div>
      </ng-container>
    </flexbox-row-fast>
  </ng-template>

</ng-container>
