<div fxFlex="100"
     fxLayout="column"
>
  <lib-mat-form-entity fxFlex="100"
                       [dataPack]="dataService.fields.user"
                       formFieldAppearanceType="fill"
  >
  </lib-mat-form-entity>
  
  <lib-mat-form-entity fxFlex="100"
                       [dataPack]="dataService.fields.password"
                       (enterPressed)="dataService.mailLoginClick$.next()"
                       formFieldAppearanceType="fill"
  >
  </lib-mat-form-entity>
  
  <app-brand-primary-button class="auth-submit-button"
                            [error]="dataService.fields.user.control.invalid||dataService.fields.password.control.invalid"
                            innerFlex="auto"
                            theme="positive"
                            icon="login"
                            (click$)="dataService.mailLoginClick$.next()"
  >Log in
  </app-brand-primary-button>
</div>
