<app-label-value-showcase label="Leave a thumbs up!">
  <a href="https://www.producthunt.com/posts/patcher-xyz?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-patcher-xyz"
     target="_blank"
  ><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=329897&theme=light"
        alt="patcher.xyz - Manager and database for musicians using modular gear. | Product Hunt"
        style="width: 250px; height: 54px;"
        width="250"
        height="54"
  /></a>
</app-label-value-showcase>