<div class="col"
>
  <lib-mat-form-entity [dataPack]="dataService.fields.username"
                       [autofocus]="true"
                       [enterkeyhint]="'next'"
                       hint="Visible by other users"
                       formFieldAppearanceType="fill"
                       iconL1="person"
  >
  </lib-mat-form-entity>
  <lib-mat-form-entity [type]="dataService.fields.email.type"
                       [control]="dataService.fields.email.control"
                       [label]="dataService.fields.email.label"
                       [enterkeyhint]="'next'"
                       hint="NOT visible by other users"
                       formFieldAppearanceType="fill"
                       iconL1="email"
  >
  </lib-mat-form-entity>

  <lib-mat-form-entity [type]="dataService.fields.password.type"
                       [control]="dataService.fields.password.control"
                       [label]="dataService.fields.password.label"
                       [enterkeyhint]="'next'"
                       formFieldAppearanceType="fill"
                       iconL1="lock"
  >
  </lib-mat-form-entity>
  <lib-mat-form-entity [type]="dataService.fields.passwordAgain.type"
                       [control]="dataService.fields.passwordAgain.control"
                       [label]="dataService.fields.passwordAgain.label"
                       [enterkeyhint]="'done'"
                       (enterPressed)="dataService.mailSignClick$.next()"
                       formFieldAppearanceType="fill"
                       iconL1="lock"
  >
  </lib-mat-form-entity>
  
  @if (dataService.fields.password.control.value !== '' && dataService.fields.passwordAgain.control.value.length > 0 &&
  dataService.fields.password.control.value !== dataService.fields.passwordAgain.control.value) {
    <mat-error
    >Repeated password should be the same as original password
    </mat-error>
  }
  
  <app-brand-primary-button style="padding-top: 1rem"
                            innerFlex="auto"
                            theme="positive"
                            icon="person_add"
                            [error]="(dataService.fields.username.control.invalid||dataService.fields.email.control.invalid||dataService.fields.password.control.invalid||dataService.fields.passwordAgain.control.invalid)||(dataService.fields.password.control.value !== '' &&
dataService.fields.password.control.value !== dataService.fields.passwordAgain.control.value)"
                            (click$)="dataService.mailSignClick$.next()"
  >Sign up
  </app-brand-primary-button>
</div>
