<div class="col"
>
  <lib-mat-form-entity [dataPack]="dataService.fields.username"
                       formFieldAppearanceType="fill"
  >
  </lib-mat-form-entity>
  <lib-mat-form-entity [dataPack]="dataService.fields.email"
                       formFieldAppearanceType="fill"
  >
  </lib-mat-form-entity>

  <lib-mat-form-entity [dataPack]="dataService.fields.password"
                       formFieldAppearanceType="fill"
  >
  </lib-mat-form-entity>
  <lib-mat-form-entity [dataPack]="dataService.fields.passwordAgain"
                       (enterPressed)="dataService.mailSignClick$.next()"
                       formFieldAppearanceType="fill"
  >
  </lib-mat-form-entity>
  
  @if (dataService.fields.password.control.value !== '' && dataService.fields.passwordAgain.control.value.length > 0 &&
  dataService.fields.password.control.value !== dataService.fields.passwordAgain.control.value) {
    <mat-error
    >Repeated password should be the same as original password
    </mat-error>
  }
  
  <app-brand-primary-button class="auth-submit-button"
                            innerFlex="auto"
                            theme="positive"
                            icon="person_add"
                            [error]="(dataService.fields.username.control.invalid||dataService.fields.email.control.invalid||dataService.fields.password.control.invalid||dataService.fields.passwordAgain.control.invalid)||(dataService.fields.password.control.value !== '' &&
dataService.fields.password.control.value !== dataService.fields.passwordAgain.control.value)"
                            (click$)="dataService.mailSignClick$.next()"
  >Sign up
  </app-brand-primary-button>
</div>
