<div class="col ">
  <div class="row gap0"
       [ngClass.lt-md]="{'column':true}"
  >
    <app-module-minimal fxFlex="100"
                        [data]="data.a.module"
                        [viewConfig]="viewConfig"
    >
      <mat-chip-list>
        <app-module-cvitem [data]="data.a"
                           kind="out"
        ></app-module-cvitem>
      </mat-chip-list>
    </app-module-minimal>
    <app-patch-connection-symbol></app-patch-connection-symbol>
    <app-module-minimal fxFlex="100"
                        [data]="data.b.module"
                        [viewConfig]="viewConfig"
    >
      <mat-chip-list>
        <app-module-cvitem [data]="data.b"
                           kind="in"
        ></app-module-cvitem>
      </mat-chip-list>
    </app-module-minimal>
  </div>
  
  <lib-mat-form-entity [type]="types.AREA"
                       [control]="notes.control"
                       label="Notes"
                       [disabled]="!isEditing"
                       *ngIf="isEditing&&!isCreator"
                       [hint]="notes.control.value.length+'/999'"
                       [ngClass]="{'padT0':notes.control.value.length>0}"
  ></lib-mat-form-entity>
  
  <ng-container *ngIf="!isEditing">
    <div class="row gap0 padT0"
    >
      <div class="grow">
        <ng-container *ngIf="data.notes&&data.notes.length>0">
          <mat-card-subtitle style="font-style:italic"
          >
            {{data.notes}}
          </mat-card-subtitle>
        </ng-container>
      </div>
      
      <div>
        <ng-container *ngTemplateOutlet="ordinal"></ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isEditing">
    <div class="row gap0 padT0">
      
      <mat-icon [matTooltip]="isCreator?'Clear selection':'Remove connection'"
                (click)="remove$.next(data)"
                class="transparentize-quarter clickable"
      >close
      </mat-icon>
      <div fxFlex="grow"></div>
      <div>
        <app-brand-primary-button *ngIf="isCreator"
                                  (click)="create$.next(data)"
        >
          Add
        </app-brand-primary-button>
      </div>
      <div class="grow">
        <ng-container *ngTemplateOutlet="ordinal"></ng-container>
      </div>
    </div>
  </ng-container>
  
  <ng-template #ordinal>
    <mat-card-subtitle *ngIf="index"
                       fxLayoutAlign="end center"
                       class="monospace"
                       [ngClass]="index%5!=0?'fade-ordinal':''"
    >#{{index}}</mat-card-subtitle>
  </ng-template>
  <ng-template #notesT>
  </ng-template>
</div>
