<ng-container *ngIf="{
  editorConnections:(dataService.editorConnections$|async),
  selectedForConnection:(dataService.selectedForConnection$|async)
  } as bag"
>
  <div ngClass.lt-lg="flow col gap1"
  >
    <div ngClass.lt-lg="flow col gap1"
         ngClass.gt-md="flow row gap1"
    >
      <div fxFlex.gt-md="35"
           class="flow col gap1"
           fxLayout.md="row"
           fxLayout.gt-lg="column"
      >
        <div class="flow row gap1"
        >
          <mat-card-subtitle fxFlex="grow"
                             fxLayoutAlign="end center"
          > You're editing your patch. Remember to save
            after
            you're done!
          </mat-card-subtitle>
          <div></div>
          <app-brand-primary-button (click$)="dataService.savePatchEditing$.next()"
                                    theme="positive"
                                    fxLayoutAlign="end"
          >
            <mat-icon>save</mat-icon>
            Save patch
          </app-brand-primary-button>
        </div>
        <lib-hero-content-card fxFlex.gt-md="auto"
                               fxFlex="auto"
                               class="selection"
                               titleNormal="Your selection"
                               description="The connection you want to create"
        >
          <mat-card *ngIf="bag.selectedForConnection.a&&bag.selectedForConnection.b; else selectedForConnectionVoidState">
            <app-patch-connection-minimal [data]="{
    a:bag.selectedForConnection.a.cv,
    b:bag.selectedForConnection.b.cv,
    patch:data
    }"
                                          isEditing="true"
                                          [isCreator]="true"
                                          (remove$)="dataService.resetSelectedForConnection$.next()"
                                          (create$)="dataService.confirmSelectedConnection$.next()"
            ></app-patch-connection-minimal>
          </mat-card>
          <ng-template #selectedForConnectionVoidState>
            <div style="height:9rem;width:auto"
                 fxLayoutAlign="center center"
            >The connection will appear here
            </div>
          </ng-template>
        </lib-hero-content-card>
        <ng-container *ngIf="(dataService.editorConnections$|async).length>0">
          <lib-hero-content-card fxFlex.gt-md="fill"
                                 fxFlex="auto"
                                 titleNormal="Patch connections"
                                 class="connections"
                                 description="The connections of the patch you are editing"
          >
          
            <div *ngIf="bag.editorConnections.length<=5"
                 class="flow col gap1"
                 style="max-height: 40rem; overflow-y: auto;"
            >
              <ng-container *ngFor="let item of bag.editorConnections">
                <mat-card>
                  <app-patch-connection-minimal [data]="item"
                                                [isEditing]="true"
                                                (remove$)="dataService.removeConnectionFromEditor$.next($event)"
                  ></app-patch-connection-minimal>
                </mat-card>
              </ng-container>
            </div>
          
          
            <cdk-virtual-scroll-viewport *ngIf="bag.editorConnections.length>5"
                                         itemSize="175.76"
                                         style="height: 40rem; overflow: auto;"
          
            >
              <div class="flow col gap1">
                <ng-container *cdkVirtualFor="let item of bag.editorConnections">
                  <div>
                    <mat-card>
                      <app-patch-connection-minimal [data]="item"
                                                    [isEditing]="true"
                                                    (remove$)="dataService.removeConnectionFromEditor$.next($event)"
                      ></app-patch-connection-minimal>
                    </mat-card>
                  </div>
                </ng-container>
              </div>
            </cdk-virtual-scroll-viewport>
          </lib-hero-content-card>
        </ng-container>
      </div>
      <div fxFlex.gt-md="65"
           class="flow col gap1"
      >
        <app-advice-tooltip>Click on the ins and outs to create connections</app-advice-tooltip>
        <app-user-modules class="modulesBG"
                          style="max-height: 73rem; overflow-y: auto;"
        ></app-user-modules>
      </div>
    </div>

  </div>
</ng-container>
