<ng-container *ngIf="{
  patchEditingPanelOpenState:(patchingService.patchEditingPanelOpenState$|async),
  data:(data$|async)
  } as bag"
>
  
  <lib-auto-content-loading-indicator *ngIf="bag.data==null;else data"
                                      [skipFirstData]="true"
                                      [loadingLines]="5"
  >
  </lib-auto-content-loading-indicator>
  
  
  <ng-template #data>
    <flexbox-row-fast
    >
      <ng-container *ngFor="let item of bag.data">
        <div>
          <lib-hero-item-card>
            <app-module-minimal *ngIf="!bag.patchEditingPanelOpenState; else fullData"
                                [data]="item"
                                [viewConfig]="viewConfig"
            ></app-module-minimal>
          </lib-hero-item-card>
        </div>
        <ng-template #fullData>
          <app-module-composite [data]="item"
                                [viewConfig]="viewConfig"
          ></app-module-composite>
        </ng-template>
      </ng-container>
    </flexbox-row-fast>
  </ng-template>

</ng-container>
