<ng-container *ngIf="{
  patchEditingPanelOpenState:(patchingService.patchEditingPanelOpenState$|async)
  } as bag"
>
  <flexbox-row-fast
  >
    <ng-container *ngFor="let item of data$|async">
        <mat-card>
          <app-module-minimal *ngIf="!bag.patchEditingPanelOpenState; else fullData"
                              [data]="item"
          ></app-module-minimal>
        </mat-card>
      <ng-template #fullData>
        <app-module-composite [data]="item"></app-module-composite>
      </ng-template>
    </ng-container>
  </flexbox-row-fast>
</ng-container>
