<div class="col gap1">
  <lib-hero-content-card titleNormal="Comments"
                         description="Conversations, feedback and more"
                         class="commentsBG"
                         icon="comment"
                         id="comments"
  >
    <ng-container *ngTemplateOutlet="content;"></ng-container>
  </lib-hero-content-card>
</div>

<ng-template #content>
  <div class="col gap1">
    <mat-chip-listbox class="filter-chips"
                      [value]="activeFilter$ | async"
                      (change)="setFilter($event.value ?? null)"
                      hideSingleSelectionIndicator
    >
      @for (opt of filterOptions; track opt.value) {
        <mat-chip-option [value]="opt.value">{{ opt.label }}</mat-chip-option>
      }
    </mat-chip-listbox>

    @if ({
      data: (filteredComments$ | async),
    }; as bag) {
      <app-comments-item-block [data]="bag.data"
                               [viewConfig]="commentViewConfig"
      ></app-comments-item-block>
    }
    @if ((dataService.commentsCount$ | async) > 10) {
      <mat-paginator
        [pageSize]="dataService.commentsPagination.take$.value"
        [pageSizeOptions]="[10, 20, 50]"
        [length]="dataService.commentsCount$ | async"
        (page)="dataService.commentsPageEvent$.next($event)"
        showFirstLastButtons
      ></mat-paginator>
    }
  </div>
</ng-template>