<!--<lib-graph [nodes]="nodes$|async"-->
<!--           [links]="links$|async"-->
<!--           [clusters]="clusters$|async"-->
<!--           fxFlex="grow"-->
<!--&gt;</lib-graph>-->
<div style="height: 50rem;
            width: 100%;"
>
  <ng-container *ngIf="nodes$|async as nodes">
    <ng-container *ngIf="links$|async as links">
      
      <lib-graph [nodes]="nodes"
                 [links]="links"
                 *ngIf="nodes.length>0 && links.length>0"
      ></lib-graph>
    </ng-container>
  </ng-container>
</div>
