<!--<lib-graph [nodes]="nodes$|async"-->
<!--           [links]="links$|async"-->
<!--           [clusters]="clusters$|async"-->
<!--           fxFlex="grow"-->
<!--&gt;</lib-graph>-->
<div class="row gap0"
     fxLayoutAlign="end center"
     style="position: absolute;background-color: rgba(255,255,255,0.8)!important;z-index: 5;"
>
  
  @for (item of legend; track item) {
    <div class="row gap0"
    >
      <div class="circle"
           [style]="{backgroundColor:item.color}"
      ></div>
      <div>{{ item.label }}</div>
    </div>
  }
</div>
<div style="height: 100%; width: 100%;"
>
  @if (nodes$|async; as nodes) {
    @if (edges$|async; as edges) {
      @if (patchDetailDataService.patchConnections$|async; as patchConnections) {
        @if (patchConnections) {
          @if (nodes.length > 0 && edges.length > 0) {
            <lib-graph [nodes]="nodes"
                       [edges]="edges"
                       class="animate-fadein-slowest"
                       [@enter]
            ></lib-graph>
          } @else {
            <div fxFlex="100">
              <div class="col gap1 animate-fadein-slowest"
              >
                <mat-card-subtitle fxLayoutAlign="center start"
                                   style="padding: 4rem"
                >Building graph...
                </mat-card-subtitle>
              </div>
            </div>
          }
        } @else {
          <div fxFlex="100">
            <div class="col gap1 animate-fadein-slowest"
            >
              <mat-card-subtitle fxLayoutAlign="center start"
                                 style="padding: 1rem"
              >No connections in this patch
              </mat-card-subtitle>
            </div>
          </div>
        }
      }
    }
  }
</div>