<div #fullscreenTarget class="patch-graph-fullscreen-dialog">
  <div class="patch-graph-fullscreen-dialog__top-left">
    <div class="patch-graph-fullscreen-dialog__title">
      <lib-hero-content-card
        titleBig="Patch graph"
        [titleSub]="data.patchName"
        [sidesPadding]="false"
        [vertPadding]="false"
      ></lib-hero-content-card>
    </div>

    <div class="patch-graph-fullscreen-dialog__legend">
      @for (item of data.legend; track item.label) {
        <div class="patch-graph-fullscreen-dialog__legend-item">
          <div
            class="patch-graph-fullscreen-dialog__legend-dot"
            [style.background-color]="item.color"
          ></div>
          <div>{{ item.label }}</div>
        </div>
      }
    </div>
  </div>

  <button
    class="patch-graph-fullscreen-dialog__action patch-graph-fullscreen-dialog__download"
    mat-icon-button
    type="button"
    aria-label="Download graph image"
    matTooltip="Download graph image"
    [disabled]="!graphReady || downloading"
    (click)="downloadImage()"
  >
    <mat-icon>{{ downloading ? 'hourglass_empty' : 'download' }}</mat-icon>
  </button>

  <button
    class="patch-graph-fullscreen-dialog__action patch-graph-fullscreen-dialog__close"
    mat-icon-button
    type="button"
    aria-label="Close full screen graph"
    matTooltip="Close full screen graph"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <div class="patch-graph-fullscreen-dialog__graph-shell">
    @if (graphReady && scaledNodes.length > 0) {
      <lib-graph
        [nodes]="scaledNodes"
        [edges]="scaledEdges"
      ></lib-graph>
    } @else {
      <div class="patch-graph-fullscreen-dialog__empty">
        <span class="patch-graph-fullscreen-dialog__empty-dot"></span>
        <span>Preparing graph…</span>
      </div>
    }
  </div>
</div>
