<mat-card fxFlex="16rem"
          fxLayout="column"
          fxLayoutGap="1rem"
>
    <div fxFlex="auto"
         fxLayout="column"
    >
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle> {{data.manufacturer.name}}</mat-card-subtitle>
    </div>
    <mat-card-subtitle>{{data.ins.length}} INs:</mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
        <mat-chip-list>
            <ng-container *ngFor="let item of data.ins">
                <mat-chip cdkDrag>
                    {{item.title}}
                </mat-chip>
            </ng-container>
        </mat-chip-list>
    </div>
    <mat-card-subtitle>{{data.outs.length}} OUTs:</mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
        <mat-chip-list>
            <ng-container *ngFor="let item of data.outs">
                <mat-chip>
                    {{item.title}}
                </mat-chip>
            </ng-container>
        </mat-chip-list>
    </div>
</mat-card>
