@if (visibleStatistics && visibleStatistics.length > 0) {
  <lib-hero-content-card [titleNormal]="title ?? ''">
    <div style="width: 100%">
      <div class="rowwrap gap2">
        @for (statistic of visibleStatistics; track statistic) {
          <div>
            <div style="min-width: 8rem">
              <app-label-value-showcase [label]="statistic.name" [icon]="statistic.icon">
                {{ statistic.value }}
              </app-label-value-showcase>
            </div>
          </div>
        }
      </div>
    </div>
  </lib-hero-content-card>
}