<ng-container *ngIf="control">
@if ({
  options:(options$|async)
}; as bag) {
  @if (!(type === types.DATE)) {
    <mat-form-field class="layout-flex-full"
      [appearance]="formFieldAppearanceType"
      [floatLabel]="styleOptions.floatLabel"
      [hideRequiredMarker]="styleOptions.hideRequired"
      [matTooltipPosition]="tooltipPosition"
      [matTooltip]="tooltip"
    >
      <mat-label>
        @if (iconL1) {
          <mat-icon
            style="font-size: 18px; height: 18px; width: 18px; line-height: 18px; vertical-align: middle; margin-right: 0.25rem;">{{ iconL1 }}
          </mat-icon>
        }
        {{ label }}
      </mat-label>
      <!--  <ng-container *ngIf="type===types.OKKO">-->
      <!--    >-->
      <!--      <button mat-stroked-button-->
      <!--              color="primary"-->
      <!--              (click)="control.patchValue(true)"-->
      <!--      >OK-->
    <!--      </button>-->
    <!--      <button mat-stroked-button-->
    <!--              color="primary"-->
    <!--              (click)="control.patchValue(false)"-->
    <!--      >KO-->
      <!--      </button>-->
      <!--    </div>-->
      <!--  </ng-container>-->
      @if (type === types.AREA) {
        <!--<mat-label>{{placeholder}}</mat-label>-->
        <textarea #primaryInput
                  #autosize="cdkTextareaAutosize"
                  [formControl]="control"
                  [attr.inputmode]="resolvedInputMode"
                  [attr.enterkeyhint]="resolvedEnterKeyHint"
                  [attr.data-ph-no-capture]="noCapture ? '' : null"
                  [placeholder]="placeholder"
                  cdkAutosizeMinRows="1"
                  cdkTextareaAutosize
                  matInput
        ></textarea>
      }
      @if ((type === types.TEXT) || (type === types.NUMBER) || (type === types.TIME)) {
        <input #primaryInput
               [autocomplete]="!disableBrowserAutocomplete"
               [attr.inputmode]="resolvedInputMode"
               [attr.enterkeyhint]="resolvedEnterKeyHint"
               [attr.data-ph-no-capture]="noCapture ? '' : null"
               [formControl]="control"
               [attr.disabled]="resolvedDisabled ? '' : null"
               [placeholder]="placeholder"
               [type]="type"
               (keydown.enter)="onInputEnterPressed($event)"
               [matAutocomplete]="presetsPanel"
               matInput
               style="height: 15.333px"
        />
        <mat-autocomplete #presetsPanel
                          panelClass="mat-form-entity-presets-panel"
                          [displayWith]="presetDisplayFunction"
                          (optionSelected)="control.patchValue($event.option.value.id); control.markAsDirty()"
        >
          @for (preset of presetOptions; track preset.id) {
            <mat-option [value]="preset">{{ preset.name }}</mat-option>
          }
        </mat-autocomplete>
      }
      <!--  -->
      @if ((type === types.EMAIL)) {
        <input #primaryInput
               [autocomplete]="!disableBrowserAutocomplete"
               [attr.inputmode]="resolvedInputMode"
               [attr.enterkeyhint]="resolvedEnterKeyHint"
               [attr.data-ph-no-capture]="noCapture ? '' : null"
               [formControl]="control"
               [placeholder]="placeholder"
               (keydown.enter)="onInputEnterPressed($event)"
               type="email"
               matInput
               style="height: 15.333px"
        />
      }
      @if ((type === types.PASSWORD_CURRENT)) {
        <input #primaryInput
               [autocomplete]="!disableBrowserAutocomplete"
               [attr.inputmode]="resolvedInputMode"
               [attr.enterkeyhint]="resolvedEnterKeyHint"
               [attr.data-ph-no-capture]="noCapture ? '' : null"
               [formControl]="control"
               [placeholder]="placeholder"
               [type]="hidePassword ? 'password' : 'text'"
               autocomplete="current-password"
               (keydown.enter)="onInputEnterPressed($event)"
               matInput
               style="height: 15.333px"
        />
      }
      @if ((type === types.PASSWORD_NEW)) {
        <input #primaryInput
               [autocomplete]="!disableBrowserAutocomplete"
               [attr.inputmode]="resolvedInputMode"
               [attr.enterkeyhint]="resolvedEnterKeyHint"
               [attr.data-ph-no-capture]="noCapture ? '' : null"
               [formControl]="control"
               [placeholder]="placeholder"
               [type]="hidePassword ? 'password' : 'text'"
               autocomplete="new-password"
               (keydown.enter)="onInputEnterPressed($event)"
               matInput
               style="height: 15.333px"
        />
      }
      @if ((type === types.SELECT)) {
        <mat-select class="layout-flex-full" [formControl]="control"
                    [placeholder]="placeholder"
                    [compareWith]="compareFunctionStrictObject"
        >
          @if (!disableVoidSelection) {
            <mat-option>{{ voidSelectionLabel }}</mat-option>
            <!--VOID OPTION-->
          }
          @for (option of (bag.options); track option) {
            <mat-option
              [value]="option"
              [matTooltip]="option.name.length>optionsTooltipMinLength?option.name:undefined"
              matTooltipPosition="left"
        >
              {{ option.name }}
            </mat-option>
          }
        </mat-select>
      }
      @if ((type === types.MULTISELECT_GROUPED)) {
        <mat-select class="layout-flex-full" [formControl]="control"
                    [placeholder]="placeholder"
                    [compareWith]="compareFunctionStrictObject"
                    multiple
        >
          @for (group of (bag.options); track group) {
            <mat-optgroup
              [label]="group.name"
        >
              @if (group.options) {
                @for (option of group.options; track option) {
                  <mat-option
                    [value]="option"
                    [matTooltip]="option.name.length>optionsTooltipMinLength?option.name:undefined"
                    matTooltipPosition="left"
                  >
              {{ option.name }}
            </mat-option>
                }
              }
            </mat-optgroup>
          }
        </mat-select>
      }
      @if ((type === types.MULTISELECT)) {
        <mat-select class="layout-flex-full" [formControl]="control"
                    [placeholder]="placeholder"
                    [compareWith]="compareFunctionStrictObject"
                    multiple
        >
          @for (option of (bag.options); track option) {
            <mat-option
              [value]="option"
              [matTooltip]="option.name.length>optionsTooltipMinLength?option.name:undefined"
              matTooltipPosition="left"
        >
              {{ option.name }}
            </mat-option>
          }
        </mat-select>
      }
      @if ((type === types.MULTI_TEXT) || (type === types.AUTOCOMPLETE_MULTIPLE)) {
        @defer (when true) {
          <lib-mat-form-entity-chip-input
            [type]="type"
            [types]="types"
            [control]="control"
            [ghostControl]="ghostControl"
            [placeholder]="placeholder"
            [resolvedInputMode]="resolvedInputMode"
            [resolvedEnterKeyHint]="resolvedEnterKeyHint"
            [autocompleteSeparatorKeysCodes]="autocompleteSeparatorKeysCodes"
            [optionsFiltered]="optionsFiltered"
            [controlDisabled]="control.disabled"
            (removeChip)="removeFromChips($event)"
            (addMultiText)="addToMultiText($event)"
            (cleanMultiComplete)="cleanMultiComplete($event)"
            (addMultiComplete)="addToMultiComplete($event)"
            (inputEnter)="onInputEnterPressed($event)"
          ></lib-mat-form-entity-chip-input>
        }
      }
      <ng-container>
        <!--  <ng-container *ngIf="(type===types.AUTOCOMPLETE_MULTIPLE_GROUPED)">-->
        <!--    <mat-chip-list #chipList>-->
        <!--      <mat-chip (removed)="removeFromChips(chip)"-->
        <!--                *ngFor="let chip of control.value"-->
        <!--                [removable]="!control.disabled"-->
        <!--                [selectable]="!control.disabled"-->
        <!--      >-->
        <!--        {{ chip.name }}-->
        <!--        <mat-icon *ngIf="!control.disabled"-->
        <!--                  matChipRemove-->
        <!--        >cancel-->
        <!--        </mat-icon>-->
        <!--      </mat-chip>-->
        <!--      <input (matChipInputTokenEnd)="cleanMultiComplete($event)"-->
        <!--             [formControl]="ghostControl"-->
        <!--             [matAutocomplete]="autocomplete"-->
        <!--             [matChipInputAddOnBlur]="true"-->
        <!--             [matChipInputFor]="chipList"-->
        <!--             [matChipInputSeparatorKeyCodes]="autocompleteSeparatorKeysCodes"-->
        <!--             [placeholder]="placeholder"-->
        <!--             matInput-->
        <!--      />-->
        <!--      <mat-autocomplete #autocomplete="matAutocomplete"-->
        <!--                        (optionSelected)="addToMultiComplete($event)"-->
        <!--                        [displayWith]="autocomplete_displayFunction"-->
        <!--                        autoActiveFirstOption-->
        <!--      >-->
        <!--        <mat-optgroup *ngFor="let group of optionsFiltered|async"-->
        <!--                      [label]="group.name"-->
        <!--        >-->
        <!--          <ng-container *ngIf="group.options">-->
        <!--            <mat-option *ngFor="let option of group.options"-->
        <!--                        [value]="option"-->
        <!--                        [matTooltip]="option.name.length>optionsTooltipMinLength?option.name:undefined"-->
        <!--                        matTooltipPosition="left"-->
        <!--            >-->
        <!--              {{ option.name }}-->
        <!--            </mat-option>-->
        <!--          </ng-container>-->
        <!--        </mat-optgroup>-->
        <!--      </mat-autocomplete>-->
        <!--    </mat-chip-list>-->
        <!--  </ng-container>-->
      </ng-container>
      @if ((type === types.AUTOCOMPLETE)) {
        <input #primaryInput
               [formControl]="control"
               [attr.inputmode]="resolvedInputMode"
               [attr.enterkeyhint]="resolvedEnterKeyHint"
               [attr.data-ph-no-capture]="noCapture ? '' : null"
               [matAutocomplete]="autocomplete"
               [placeholder]="placeholder"
               (keydown.enter)="onInputEnterPressed($event)"
               (blur)="onAutocompleteBlur()"
               matInput
               type="text"
        />
        <mat-autocomplete #autocomplete="matAutocomplete"
                          [displayWith]="autocomplete_displayFunction"
                          autoActiveFirstOption
        >
          @for (option of optionsFiltered|async; track option) {
            <mat-option
              [matTooltip]="option.name.length>optionsTooltipMinLength?option.name:undefined"
              matTooltipPosition="left"
              [value]="option"
        >
              {{ option.name }}
            </mat-option>
          }
        </mat-autocomplete>
      }
      @if ((type === types.AUTOCOMPLETE_GROUPED)) {
        <input #primaryInput
               [formControl]="control"
               [attr.inputmode]="resolvedInputMode"
               [attr.enterkeyhint]="resolvedEnterKeyHint"
               [attr.data-ph-no-capture]="noCapture ? '' : null"
               [matAutocomplete]="autocomplete"
               [placeholder]="placeholder"
               (keydown.enter)="onInputEnterPressed($event)"
               (blur)="onAutocompleteBlur()"
               matInput
               type="text"
        />
        <mat-autocomplete #autocomplete="matAutocomplete"
                          [displayWith]="autocomplete_displayFunction"
                          [autoActiveFirstOption]="!disableVoidSelection"
        >
          @for (group of optionsFiltered|async; track group) {
            <mat-optgroup
              [label]="group.name"
        >
              @if (group.options) {
                @for (option of group.options; track option) {
                  <mat-option
                    [value]="option"
                    [matTooltip]="option.name.length>optionsTooltipMinLength?option.name:undefined"
                    matTooltipPosition="left"
                  >
              {{ option.name }}
            </mat-option>
                }
              }
            </mat-optgroup>
          }
        </mat-autocomplete>
      }
      @if ((invalid$|async)) {
        <mat-error>{{ (errors$|async) }}</mat-error>
      }
      @if (hint) {
        <mat-hint>{{ hint }}</mat-hint>
      }
      @if (warning) {
        <mat-label
          style="color: #A5490B!important; padding-left:1rem"
        >{{ warning }}
        </mat-label>
      }
      @if (type === types.AUTOCOMPLETE_MULTIPLE) {
        @if ((invalid$|async)) {
          <mat-hint
            style="color: red; padding-top: 1rem"
          >{{ ((errors$|async)) }}
          </mat-hint>
        }
      }
      <!--  <mat-hint *ngIf='control.invalid$'>{{errors}}</mat-hint>-->
      @if ((!disableClearButton) &&
      ((type === types.TEXT)
        || (type === types.AREA)
        || (type === types.NUMBER)
        || (type === types.AUTOCOMPLETE)
        || (type === types.AUTOCOMPLETE_GROUPED))
      && (!control.disabled)) {
        <button
          [disabled]="control.value === '' || control.value == null"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="control.patchValue('')"
    >
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (type === types.PASSWORD_CURRENT) {
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [matTooltip]="hidePassword ? 'Show password' : 'Hide password'"
          [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
          [attr.aria-pressed]="!hidePassword"
    >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      }
    </mat-form-field>
  }
  @if ((type === types.DATE)) {
    @defer (when true) {
      <lib-mat-form-entity-date-input
        [control]="control"
        [label]="label"
        [iconL1]="iconL1"
        [placeholder]="placeholder"
        [invalid]="(invalid$ | async) ?? false"
        [errors]="(errors$ | async) ?? ''"
        [dateMin]="dateMin"
        [dateMax]="dateMax"
        [dateOpenPosition]="dateOpenPosition ?? undefined"
        [resolvedEnterKeyHint]="resolvedEnterKeyHint"
        [formFieldAppearanceType]="formFieldAppearanceType"
        [floatLabel]="styleOptions.floatLabel"
        [hideRequiredMarker]="styleOptions.hideRequired"
        [tooltip]="tooltip"
        [tooltipPosition]="tooltipPosition"
        (inputEnter)="onInputEnterPressed($event)"
      ></lib-mat-form-entity-date-input>
    }
  }
}
</ng-container>
