@if ({
  manufacturer: (dataService.manufacturerData$ | async),
  modules: (dataService.modulesData$ | async),
  isLoading: (dataService.isLoading$ | async)
}; as bag) {
  <div class="col gap1">
    <lib-hero-content-card
      titleBig="Manufacturer Details"
      [titleSub]="bag.manufacturer?.name"
      class="manufacturersBG"
    >
      <div class="col gap2">

        @if (bag.manufacturer?.websiteURL) {
          <a
            [href]="bag.manufacturer.websiteURL"
            rel="noopener noreferrer"
            target="_blank"
            mat-stroked-button
            color="primary"
            class="manufacturer-website-btn"
          >
            <mat-icon>open_in_new</mat-icon>
            Visit website
          </a>
        }
        
        @if (bag.manufacturer) {
          <lib-clean-card>
            <app-lib-showcase-grid [data]="(stats$ | async) || []">
            </app-lib-showcase-grid>
          </lib-clean-card>
        }
        
        <lib-auto-content-loading-indicator
          [data$]="dataService.modulesData$"
          [updateData$]="dataService.updateManufacturer$"
        >
          @if (bag.modules && bag.modules.length > 0) {
            <app-module-list
              [data$]="dataService.modulesData$"
              [viewConfig]="moduleViewConfig"
              [showSearch]="true"
              [showOrder]="true"
              [encloseVertically]="false"
            ></app-module-list>
          } @else if (bag.modules !== null) {
            <div class="col gap1 manufacturer-empty-state">
              <mat-card-subtitle>No modules found for this manufacturer yet.</mat-card-subtitle>
            </div>
          }
        </lib-auto-content-loading-indicator>
      
      </div>
    </lib-hero-content-card>
  </div>
}