<div class="col gap1"
>
  <mat-card-subtitle fxFlex="auto">Join the
    <a href="https://discord.gg/pYz3gagUDA">
      Discord server
    </a> for feedback and news!
  </mat-card-subtitle>
  <!--  <iframe fxFlex="auto"-->
  <!--          src="https://discord.com/widget?id=830863669885796442&theme=dark"-->
  <!--          allowtransparency="true"-->
  <!--          height="400"-->
  <!--          frameborder="0"-->
  <!--          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"-->
  <!--  ></iframe>-->
</div>
