<app-hero-content-card title="Modules">
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
  >
    <app-module-browser-filters></app-module-browser-filters>
    <mat-paginator [hidePageSize]="(dataService.serversideAdditionalData.itemsCount$|async)<10"
                   [pageSizeOptions]="[10,25,50,100]"
                   [length]="dataService.serversideAdditionalData.itemsCount$|async"
                   (page)="dataService.onPageEvent($event)"
                   showFirstLastButtons
    ></mat-paginator>
    <app-auto-loading-indicator [data$]="dataService.modulesList$"
                                [updateData$]="dataService.updateModulesList$"
    ></app-auto-loading-indicator>
    <div fxFlex="auto"
         class="box"
    >
      <ng-container *ngFor="let item of dataService.modulesList$|async">
        <div>
          <mat-card>
            <app-module-browser-module-minimal [data]="item"></app-module-browser-module-minimal>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>
  <!--  <pre>{{(dataService.data$|async)|json}}</pre>-->
</app-hero-content-card>
