<lib-clean-card>
  <div class="layout-column layout-gap-02"
  >
    <div
         class="mat-display-1 layout-flex-full"
    >{{label}}</div>
    <div class="layout-flex-full layout-align-end"
         style="padding-right:2rem; padding-bottom:2rem"
    >
      <mat-icon style="font-size:4rem"
                [ngStyle]="{color:iconColor}"
      >
        {{icon}}
      </mat-icon>
    </div>
    <mat-dialog-content>
      <div class="layout-flex-full layout-column layout-gap-2 layout-gap-xs-0"
           style="padding-bottom: 1rem"
      ></div>

    </mat-dialog-content>

  </div>
  <mat-dialog-actions>
    <div class="layout-flex-full layout-row layout-gap-2 layout-gap-xs-0"
    >
      <app-brand-primary-button class="layout-flex-grow"
        theme="primary"
              [routerLink]="!disabled?link:null"
              [disabled]="disabled"
      >Apri
      </app-brand-primary-button>

    </div>
  </mat-dialog-actions>
</lib-clean-card>