<lib-clean-card>
  <div fxLayout="column"
       fxLayoutGap="0.2em"
  >
    <div fxFlex="100"
         class="mat-display-1"
    >{{label}}</div>
    <div fxFlex="100"
         fxLayoutAlign="end"
         style="padding-right:2rem; padding-bottom:2rem"
    >
      <mat-icon style="font-size:4rem"
                [ngStyle]="{color:iconColor}"
      >
        {{icon}}
      </mat-icon>
    </div>
    <mat-dialog-content>
      <div fxFlex="100"
           fxLayout="column"
           fxLayoutGap="2rem"
           fxLayoutGap.xs="0rem"
           style="padding-bottom: 1rem"
      ></div>

    </mat-dialog-content>

  </div>
  <mat-dialog-actions>
    <div fxFlex="100"
         fxLayout="row"
         fxLayoutGap="2rem"
         fxLayoutGap.xs="0rem"
    >
      <button mat-stroked-button
              fxFlex="grow"
              [routerLink]="!disabled?link:null"
              [disabled]="disabled"
      >Apri
      </button>

    </div>
  </mat-dialog-actions>
</lib-clean-card>
