<ng-container *ngIf="{data:(data$|async)} as bag">
    <div fxFlex="auto"
         fxLayout="row"
    >
        <ng-container *ngFor="let item of bag.data">
            <div fxFlex="auto"
                 fxLayout="row"
                 fxLayoutGap="1rem"
                 class="option"
            >
                <button mat-button
                        [routerLink]="item.route"
                        routerLinkActive="selected"
                >
                    <mat-icon>{{item.icon}}</mat-icon>
                    {{item.label}}
                </button>
            
            </div>
        </ng-container>
    </div>
</ng-container>
