<ng-container *ngIf="{data:(data$|async)} as bag">
  <div fxFlex="auto"
       fxLayout="row"
       fxShow
       [fxShow.lt-md]="false"
  >
    <ng-container *ngFor="let item of bag.data">
      <a mat-button
         class="option"
         [routerLink]="item.route"
         routerLinkActive="selected"
      >
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.label}}
      </a>
    </ng-container>
  </div>
  <div fxFlex="auto"
       fxLayout="row"
       fxHide
       [fxHide.lt-md]="false"
  >
    <ng-container *ngFor="let item of bag.data">
      <a mat-button
         class="option"
         [routerLink]="item.route"
         routerLinkActive="selected"
         [matTooltip]="item.label"
      >
        <mat-icon>{{item.icon}}</mat-icon>
      </a>
    </ng-container>
  </div>
</ng-container>
