<div fxLayoutAlign="center center"
   [routerLink]="data.public_id ? ['/racks', data.public_id] : ['/racks/details', data.id]"
     class="clickable"
     style="max-width:100%"
>
  @if ({
    height: 20
  }; as bag) {
    @if (containImage) {
      @if (filename && !imageLoadFailed) {
        <img
          class="img image-transition"
          [ngStyle]="{maxHeight:bag.height/sizeDivider+'rem'}"
          [src]="rackStorageBase+filename"
          [@enter]
          loading="lazy"
          [alt]="'Rack preview for '+data.name"
          (error)="onPreviewLoadError()"
        >
      } @else if (filename && imageLoadFailed) {
        <div
          class="rack-image-fallback rack-image-fallback--contained image-transition"
          [ngStyle]="{maxHeight:bag.height/sizeDivider+'rem'}"
          [@enter]
          role="img"
          [attr.aria-label]="'Rack preview unavailable for '+data.name"
        >
          <span class="rack-image-fallback__eyebrow">Preview unavailable</span>
        </div>
      } @else {
        <div
          class="rack-image-fallback rack-image-fallback--contained rack-image-fallback--empty image-transition"
          [ngStyle]="{maxHeight:bag.height/sizeDivider+'rem'}"
          [@enter]
          role="img"
          [attr.aria-label]="'No rack preview yet for '+data.name"
        >
          <span class="rack-image-fallback__eyebrow">New rack</span>
        </div>
      }
    }
    @if (!containImage) {
      @if (filename && !imageLoadFailed) {
        <img
          [ngStyle]="{maxHeight:((bag.height)+'rem')}"
          [src]="rackStorageBase+filename"
          [@enter]
          class="image-transition"
          loading="lazy"
          [alt]="'Rack preview for '+data.name"
          (error)="onPreviewLoadError()"
        >
      } @else if (filename && imageLoadFailed) {
        <div
          class="rack-image-fallback image-transition"
          [ngStyle]="{maxHeight:bag.height+'rem'}"
          [@enter]
          role="img"
          [attr.aria-label]="'Rack preview unavailable for '+data.name"
        >
          <span class="rack-image-fallback__eyebrow">Preview unavailable</span>
        </div>
      } @else {
        <div
          class="rack-image-fallback rack-image-fallback--empty image-transition"
          [ngStyle]="{maxHeight:bag.height+'rem'}"
          [@enter]
          role="img"
          [attr.aria-label]="'No rack preview yet for '+data.name"
        >
          <span class="rack-image-fallback__eyebrow">New rack</span>
        </div>
      }
    }
  }
</div>