<div
     [matTooltip]="description"
     matTooltipPosition="above"
     class="item layout-flex-full layout-column layout-gap-05"
>
  <div class="layout-flex-full layout-align-center-center"
  >
    <mat-icon *ngIf="icon">
      <ng-container *ngIf="(!iconOff)||(data|async)">{{icon}}</ng-container>
      <ng-container *ngIf="iconOff&&(!(data|async))">{{iconOff}}</ng-container>
    </mat-icon>
    <!--    <ng-content></ng-content>-->
  </div>
  <mat-slide-toggle [checked]="data|async"
                    (change)="data.next($event.checked)"
                    [disabled]="disabled"
  >
  </mat-slide-toggle>
</div>
