<ng-container *ngIf="{
data:(dataService.singleModuleData$|async),
racksWithThisModule:(dataService.racksWithThisModule$|async)
} as bag"
>
  <div class="col gap1"
  >
    <lib-hero-content-card titleBig="Module details"
                           class="modulesBG"
    >
      <div class="col gap1"
      >
        <lib-screen-wrapper maxSize="36rem">
          <lib-clean-card>
            
            <lib-auto-content-loading-indicator *ngIf="bag.data==null;else data"
                                                [skipFirstData]="true"
                                                [loadingLines]="5"
            >
            </lib-auto-content-loading-indicator>
  
  
            <ng-template #data>
              <app-module-composite [data]="(bag.data)"
              ></app-module-composite>
            </ng-template>

          </lib-clean-card>
  
          <lib-clean-card *ngIf="bag.data&&dataService.moduleEditingPanelOpenState$|async">
            <app-module-editor
                [data]="(bag.data)"
            ></app-module-editor>
          </lib-clean-card>
        </lib-screen-wrapper>
        <!--  -->
        <!--                  <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleModuleData$"-->
        <!--                                                      [data$]="dataService.singleModuleData$"-->
        <!--                  ></lib-auto-content-loading-indicator>-->

        <!--          <lib-clean-card *ngIf="bag.data">-->
        <!--            <app-module-patches [module]="bag.data"></app-module-patches>-->
        <!--          </lib-clean-card>-->
  
  
        <!--          hidden cause circular dependency-->
        <!--          <app-module-patches [data$]="dataService.modulePatchesList$"></app-module-patches>-->
        <!--              stuff-->
  
  
        <lib-screen-wrapper>
          <lib-hero-content-card titleNormal="Racks using this module">
      
      
            <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleModuleData$"
                                                [data$]="dataService.racksWithThisModule$"
            >
              <app-module-racks *ngIf="(bag.racksWithThisModule)&&(bag.racksWithThisModule).length>0; else noRacks"
                                [data$]="dataService.racksWithThisModule$"
              ></app-module-racks>
            </lib-auto-content-loading-indicator>
          </lib-hero-content-card>
        </lib-screen-wrapper>

      </div>
    </lib-hero-content-card>
  </div>
</ng-container>

<ng-template #noRacks>
  <div class="col gap1 animate-fadein-slowest"
  >
    <mat-card-subtitle fxLayoutAlign="center start"
                       style="padding: 1rem"
    >No racks using this module yet. Try adding it to yours!
    </mat-card-subtitle>
  </div>
</ng-template>