<ng-container *ngIf="{
data:(dataService.singleModuleData$|async)
} as bag"
>
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
  >
    <lib-hero-content-card titleBig="Module details"
                           class="modulesBG"
    >
      <div fxFlex="auto"
           fxLayout="column"
           fxLayoutGap="1rem"
      >
        <div fxFlex="auto"
             fxLayout="column"
             fxLayoutGap="1rem"
        >
          <div fxFlex="auto"
               fxLayoutAlign="center"
          >
            <div fxFlex="auto"
                 fxLayout="column"
                 fxLayoutGap="1rem"
            >
              <div>
                <lib-hero-item-card>
                  <ng-container *ngIf="bag.data"
                  >
                    <app-module-composite [data]="(bag.data)"
                    ></app-module-composite>
                  </ng-container>
                </lib-hero-item-card>
              </div>
              <app-auto-loading-indicator [updateData$]="dataService.updateSingleModuleData$"
                                          [data$]="dataService.singleModuleData$"
              ></app-auto-loading-indicator>
              <lib-hero-item-card *ngIf="bag.data&&dataService.moduleEditingPanelOpenState$|async">
                <app-module-editor
                    [data]="(bag.data)"
                ></app-module-editor>
              </lib-hero-item-card>
              <!--              stuff-->
            </div>
          </div>
        </div>
      </div>
    </lib-hero-content-card>
  </div>
</ng-container>
