<ng-container *ngIf="{
data:(dataService.singleModuleData$|async)
} as bag"
>
  <lib-screen-wrapper>
    <div class="col gap1"
    >
      <lib-hero-content-card titleBig="Module details"
                             class="modulesBG"
      >
        <div class="col gap1"
        >
          <lib-screen-wrapper maxSize="36rem">
            <lib-hero-item-card>
  
              <lib-auto-content-loading-indicator *ngIf="bag.data==null;else data"
                                                  [skipFirstData]="true"
                                                  [loadingLines]="5"
              >
              </lib-auto-content-loading-indicator>
  
  
              <ng-template #data>
                <app-module-composite [data]="(bag.data)"
    
                ></app-module-composite>
              </ng-template>


            </lib-hero-item-card>
          </lib-screen-wrapper>
          <!--          <lib-auto-content-loading-indicator [updateData$]="dataService.updateSingleModuleData$"-->
          <!--                                              [data$]="dataService.singleModuleData$"-->
          <!--          ></lib-auto-content-loading-indicator>-->
          <lib-hero-item-card *ngIf="bag.data&&dataService.moduleEditingPanelOpenState$|async">
            <app-module-editor
                [data]="(bag.data)"
            ></app-module-editor>
          </lib-hero-item-card>
          <!--              stuff-->
        </div>
      </lib-hero-content-card>
    </div>
  </lib-screen-wrapper>
</ng-container>
