<lib-screen-wrapper maxSize="26rem"
                    style="margin-bottom:16rem"
>
  <div style="padding-top: 4rem"
  >
    <app-empty-state
        backgroundImage="assets/svg/undraw_login.svg"
    ></app-empty-state>
  </div>
  <lib-hero-content-card titleNormal="Login"
  >
    <div class="flow col gap1"
    >
      <app-login-email fxFlex="auto"></app-login-email>
      <mat-card-subtitle fxLayoutAlign="center"
                         routerLink="/auth/signup"
                         style="cursor: pointer"
      >Sign up instead?
      </mat-card-subtitle>
    </div>
  
  </lib-hero-content-card>

</lib-screen-wrapper>
