<div class="flow col gap1"
>
  <lib-hero-content-card fxFlex="auto"
                         titleBig="My modules"
  >
    <div fxFlex="auto"
         class="box"
    >
      <ng-container *ngFor="let item of userModules$|async">
        <div>
          <lib-hero-item-card>
            <mat-card-title>{{item.name}}</mat-card-title>
            <app-module-cvs [data]="item"
                            (inClick$)="inClick$.next($event)"
                            (outClick$)="outClick$.next($event)"
            ></app-module-cvs>
          </lib-hero-item-card>
        </div>
      </ng-container>
    </div>

  </lib-hero-content-card>
  
  <lib-hero-content-card fxFlex="auto"
                         titleBig="Patch"
  >
    <div class="flow col gap1"
    >
      <!--      <ng-container *ngFor="let item of connections$|async">-->
      <!--        <div>-->
      <!--          &lt;!&ndash;          <lib-hero-item-card>&ndash;&gt;-->
      <!--            {{item.from.name}} {{item.fromCV.name}} => {{item.to.name}} {{item.toCV.name}}-->
      <!--          &lt;!&ndash;          </lib-hero-item-card>&ndash;&gt;-->
      <!--        </div>-->
      <!--      </ng-container>-->
    </div>
  </lib-hero-content-card>

</div>

<ng-template #noM>
  <div fxFlex="auto">
    <mat-card-subtitle fxLayoutAlign="center center">It looks like you haven't added any modules
                                                     to your collection yet.
                                                     Try adding some!
    </mat-card-subtitle>
  </div>
</ng-template>
