<div fxFlex="auto"
     fxLayout="column"
     fxLayoutGap="1rem"
><h1>patch-builder</h1>
    
    <app-module-browser-root></app-module-browser-root>
    <app-brand-primary-button fxFlex="auto"
                              (click$)="dataService.generate$.next()"
    >Generate
    </app-brand-primary-button>
    
    
    <ng-container *ngIf="dataService.generated$|async">
        
        <div fxFlex="auto"
             fxLayout="column"
        >
            <ng-container *ngFor="let item of (dataService.generated$|async).connections">
                <div>{{item.from}} => {{item.to}}</div>
            </ng-container>
        </div>
    </ng-container>
</div>
