<div fxLayout="row"
     fxLayoutGap="1rem"
     *ngIf="controls.length>0"
>
  <ng-container *ngFor="let controGroup of controls; let iRow = index">
    <div fxLayout="row wrap"
         fxFlex="100"
         fxLayoutGap="0.2rem"
         class="contentRow"
    >
      <ng-container *ngFor="let control of controGroup; let iColumn = index">
        <div [@list]="controGroup.length">
          <div fxFlex="100"
               fxLayout="column"
               fxLayout.xl="row"
               fxLayout.md="column"
               fxLayoutGap.xl="1rem"
               class="contentLine"
          >
            <lib-mat-form-entity fxFlex="100"
                                 [type]="control.type"
                                 [options$]="control.options||[]"
                                 [control]="control.control"
                                 [errorProvider]="appState.globalUtils.errorProvider"
                                 [label]="control.label"
            >
            </lib-mat-form-entity>
          </div>
        </div>
        <div fxFlex="100"
             [ngStyle]='{"padding-bottom": (iColumn+1)%separationTreshold===0?"4rem":"0rem"}'
        ></div>
      </ng-container>
    </div>
  </ng-container>
</div>

