<div class="layout-row layout-gap-1"
     *ngIf="controls.length>0"
>
  <ng-container *ngFor="let controGroup of controls; let iRow = index">
    <div
         class="contentRow layout-row-wrap layout-flex-full layout-gap-02"
    >
      <ng-container *ngFor="let control of controGroup; let iColumn = index">
        <div [@list]="controGroup.length">
          <div
               class="contentLine layout-flex-full layout-column layout-row-xl layout-column-md layout-gap-1-xl"
          >
            <lib-mat-form-entity class="layout-flex-full"
                                 [type]="control.type"
                                 [options$]="control.options||[]"
                                 [control]="control.control"
                                 [errorProvider]="appState.globalUtils.errorProvider"
                                 [label]="control.label"
            >
            </lib-mat-form-entity>
          </div>
        </div>
        <div class="layout-flex-full"
             [ngStyle]='{"padding-bottom": (iColumn+1)%separationTreshold===0?"4rem":"0rem"}'
        ></div>
      </ng-container>
    </div>
  </ng-container>
</div>

