@use '@angular/material' as mat;

.cdk-drag-preview {
  //box-sizing:    border-box;
  @include mat.elevation(8);
}

.cdk-drag-placeholder {
  opacity: .5;
}

.cdk-drag-animating {
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .module:not(.cdk-drag-placeholder) {
  background-color: #E33636 !important;
  transition:       transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.widthRuler {
  border-width:       .1rem;
  border-color:       rgba(0, 0, 0, 0.3);
  border-top-style:   solid;
  border-right-style: solid;
  border-left-style:  solid;

  padding:            0.5em;
}

.innerEditor {
  //background-color: rgba(0, 0, 0, 0.05);

}

.row-bg {
  @include mat.elevation(2);

  $gridColor:       rgba(0, 0, 0, 0.15);
  $gridWeight:      .1rem;

  background-color: rgba(255, 255, 255, 0.25);
  background-image: linear-gradient(to right, $gridColor $gridWeight, transparent $gridWeight);
  background-size:  1rem;
  min-height:       4rem;
  min-width:        4rem;
}