<div class="col gap1 transition-all innerEditor"
     cdkDropListGroup
>
  <mat-card-subtitle [ngStyle]="{width: rackData.hp+'rem'}"
                     fxLayoutAlign="center center"
                     class="widthRuler"
  >{{rackData.hp}}</mat-card-subtitle>

  <div class="col gap0 " #screen id="screen" [style.width]="rackData.hp + 'rem'">
    @for (row of rowedRackedModules; track row; let rowId = $index) {
      <div class="row"
           [class.row-bg]="!(row|hasUnrackedModules)"
           [matBadge]="row.length === 0 ? undefined : (rackDetailDataService.showModuleCounters$ | async) ? row.length : undefined"
           matBadgePosition="above after"
           cdkDropList
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="rackDetailDataService.rackOrderChange$.next({event:$event, newRow:rowId,module:$event.item.data})"
      >
        @for (rackedModule of row; track rackedModule; let i = $index) {
          <app-module-realistic [@enter]="{ value: '', params: { delay: (i * 50)}}"
                                [data]="rackedModule|mapToModule"
                                [showPanelImages]="(rackDetailDataService.shouldShowPanelImages$ | async)&&rackedModule.module.panels.length>0"
                                [selectedPanelId]="rackedModule.rackingData.selectedPanelId ?? null"
                                class="module"
                                cdkDrag
                                [cdkDragData]="rackedModule"
                                [cdkDragDisabled]="!(isCurrentRackEditable&&isCurrentRackPropertyOfCurrentUser)"
                                (mouseenter)="setHoveredModule(rackedModule)"
                                (mouseleave)="clearHoveredModule(rackedModule)"
                                (contextmenu)="moduleRightClick$.next({$event:$event, rackedModule:rackedModule})"
          >
            @if (isCurrentRackEditable && isCurrentRackPropertyOfCurrentUser) {
              <div class="hpIndicator"
                   (mousedown)="$event.stopPropagation()"
              >
                {{ effectiveHp(rackedModule) }}HP
              </div>
            }
            <div class="moduleHoverStats"
                 [class.moduleHoverStats--visible]="isHoveredModule(rackedModule)"
                 (mousedown)="$event.stopPropagation()"
            >
              <div class="moduleHoverStats__row">
                <span class="moduleHoverStats__label">HP</span>
                <span class="moduleHoverStats__value">{{ effectiveHp(rackedModule) }}HP</span>
              </div>
              @if (hasCompletePowerData(rackedModule)) {
                <div class="moduleHoverStats__row">
                  <span class="moduleHoverStats__label">+12</span>
                  <span class="moduleHoverStats__value">{{ rackedModule.module.powerPos12 }}mA</span>
                </div>
                <div class="moduleHoverStats__row">
                  <span class="moduleHoverStats__label">-12</span>
                  <span class="moduleHoverStats__value">{{ absolutePower(rackedModule.module.powerNeg12) }}mA</span>
                </div>
                <div class="moduleHoverStats__row">
                  <span class="moduleHoverStats__label">+5</span>
                  <span class="moduleHoverStats__value">{{ rackedModule.module.powerPos5 }}mA</span>
                </div>
              } @else {
                <div class="moduleHoverStats__row">
                  <span class="moduleHoverStats__label">PWR</span>
                  <span class="moduleHoverStats__value">n/a</span>
                </div>
              }
            </div>
          </app-module-realistic>
        }
      </div>
    }
    <!--    <div class="watermark self-center">Planned on patcher.xyz</div>-->
  </div>

  <!--    add new row button-->
  <div class="row gap2 self-center">
    @if (isCurrentRackEditable && isCurrentRackPropertyOfCurrentUser && rowedRackedModules.length > 1) {
      <div [@enter]="{ value: '', params: { delay: (1 * 25)+500}}"
           matTooltip="Please remove all modules from the last row to remove it"
           [matTooltipDisabled]="isLastRowEmpty(rowedRackedModules)">
        <app-brand-primary-button
          theme="negative"
          icon="remove"
          (click$)="rackDetailDataService.requestRemoveRow$.next()"
                [disabled]="!isLastRowEmpty(rowedRackedModules)"
        >
          Remove last row
        </app-brand-primary-button>
      </div>
    }
    <div fxFlex="1 1 auto"></div>
    
    @if (isCurrentRackEditable && isCurrentRackPropertyOfCurrentUser) {
      <div
        [@enter]="{ value: '', params: { delay: (2 * 25)+500}}"
      >
        <app-brand-primary-button
          theme="primary"
          icon="add"
          (click$)="rackDetailDataService.requestAddNewRow$.next()"
        >
          Add new row
        </app-brand-primary-button>
      </div>
    }
  </div>
  
  <div fxFlex="100"></div>
</div>
