<ng-container *ngIf="{
layoutFlexWidth:(appState.layoutFlexWidth$|async)
} as bag"
>
  <ng-container *ngIf="bag.layoutFlexWidth">
    <lib-screen-wrapper *ngIf="bag.layoutFlexWidth.ltlg||isEditing"
                        maxSize="40rem"
    >
      <div class="col gap1"
      >
        <div>
          <lib-hero-item-card>
            <app-patch-minimal [data]="data">
            </app-patch-minimal>
          </lib-hero-item-card>
        </div>
  
        <app-patch-details [data]="data"></app-patch-details>
        <app-comments-root></app-comments-root>
      </div>
    </lib-screen-wrapper>
    
    <ng-container *ngIf="bag.layoutFlexWidth.gtmd&&!isEditing">
      <div class="row gap2"
      >
        <div fxFlex="24rem"
             class="col gap2"
        >
          <lib-hero-item-card>
            <app-patch-minimal [data]="data">
            </app-patch-minimal>
          </lib-hero-item-card>
        </div>
        <div class="auto col gap1"
        >
          <app-patch-details fxFlex="grow"
                             [data]="data"
          ></app-patch-details>
    
          <app-comments-root></app-comments-root>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
