<div class="col gap1"
>
  
  <div class="col gap1"
  >
    <div class="auto col gap1"
    >
      <div fxLayout="row"
           fxLayoutGap="1rem"
           fxLayoutAlign="space-between"
      >
        <mat-card-title>INs</mat-card-title>
        <mat-card-subtitle>leave fields blank if unknown</mat-card-subtitle>
      </div>
      <div class="col gap1 leftBorderS"
      >
        <ng-container *ngFor="let item of INs$|async;">
          
          <div ngClass.sm="col gap1"
               ngClass.gt-sm="row gap1"
          >
            <lib-mat-form-entity [type]="types.TEXT"
                                 [control]="item.name"
                                 label="name"
            ></lib-mat-form-entity>
            <lib-mat-form-entity [type]="types.NUMBER"
                                 [control]="item.a"
                                 label="min V"
            ></lib-mat-form-entity>
            <lib-mat-form-entity [type]="types.NUMBER"
                                 [control]="item.b"
                                 label="max V"
            ></lib-mat-form-entity>
            <mat-divider inset="true"
                         fxHide="true"
                         fxShow.lt-md="true"
            ></mat-divider>
          </div>
        </ng-container>
      </div>
      <div fxLayout="row wrap"
           fxLayoutGap="1rem grid"
           fxLayoutAlign="end"
      >
        <app-brand-primary-button (click$)="addIN$.next([undefined,undefined,undefined,0])">Add IN
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addIN$.next([undefined,0,5,0])">Add 0→5V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addIN$.next([undefined,0,8,0])">Add 0→8V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addIN$.next([undefined,-5,5,0])">Add -5→5V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addIN$.next([undefined,-10,10,0])">Add -10→10V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addIN$.next([undefined,-12,12,0])">Add -12→12V
        </app-brand-primary-button>
      </div>
    </div>
    <div class="auto col gap1"
    >
      <div fxLayout="row"
           fxLayoutGap="1rem"
           fxLayoutAlign="space-between"
      >
        <mat-card-title>OUTs</mat-card-title>
        <mat-card-subtitle>leave fields blank if unknown</mat-card-subtitle>
      </div>
      <div class="col gap1 leftBorderS"
      >
        <ng-container *ngFor="let item of OUTs$|async;">
          
          <div ngClass.sm="col gap1"
               ngClass.gt-sm="row gap1"
          >
            <lib-mat-form-entity [type]="types.TEXT"
                                 [control]="item.name"
                                 label="name"
            ></lib-mat-form-entity>
            <lib-mat-form-entity [type]="types.NUMBER"
                                 [control]="item.a"
                                 label="min V"
            ></lib-mat-form-entity>
            <lib-mat-form-entity [type]="types.NUMBER"
                                 [control]="item.b"
                                 label="max V"
            ></lib-mat-form-entity>
            <mat-divider inset="true"
                         fxHide="true"
                         fxShow.lt-md="true"
            ></mat-divider>
          </div>
        </ng-container>
      </div>
      <div fxLayout="row wrap"
           fxLayoutGap="1rem grid"
           fxLayoutAlign="end"
      >
        <app-brand-primary-button (click$)="addOUT$.next([undefined,undefined,undefined,0])">Add OUT
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addOUT$.next([undefined,0,5,0])">Add 0→5V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addOUT$.next([undefined,0,8,0])">Add 0→8V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addOUT$.next([undefined,-5,5,0])">Add -5→5V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addOUT$.next([undefined,-10,10,0])">Add -10→10V
        </app-brand-primary-button>
        <app-brand-primary-button (click$)="addOUT$.next([undefined,-12,12,0])">Add -12→12V
        </app-brand-primary-button>
      </div>
    </div>
  </div>
  
  <div fxFlex="auto"
       fxLayout="row"
       fxLayout.lt-md="column"
       fxLayoutGap="1rem"
  >
    
    
    <!--    <app-brand-primary-button>Add SWITCH</app-brand-primary-button>-->
  
    <div fxFlex="auto"
         fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutGap="1rem"
    >
      <app-advice-tooltip fxFlex="basis"
      >Update this only if data is incorrect or some is missing.
      </app-advice-tooltip>
      <mat-card-subtitle fxFlex="auto"
                         fxLayoutAlign="end center"
      >Any changes you make will affect what all other users see
      </mat-card-subtitle>
    </div>
  </div>
  <mat-divider inset="true"></mat-divider>
  <lib-auto-content-loading-indicator [data$]="dataService.singleModuleData$"
                                      [updateData$]="save$"
                                      loadingLabel="Saving data"
  >
    <app-brand-primary-button (click$)="save$.next()"
                              theme="positive"
                              fxLayoutAlign="end"
                              [disabled]="formGroupA.invalid||formGroupB.invalid||formGroupC.invalid"
    >
      <mat-icon>save</mat-icon>
      Save data
    </app-brand-primary-button>
  </lib-auto-content-loading-indicator>


</div>
