<lib-screen-wrapper maxSize="32rem">
  <div class="col gap1">
    <lib-hero-content-card [titleBig]="SharedConstants.messages.resetPassword.resetPasswordTitle"
                           style="padding-bottom: 32rem;">
      <div class="col gap1">
        <ng-container *ngIf="!token">
          <div class="error-message">
            <h2>{{ SharedConstants.messages.resetPassword.invalidTokenTitle }}</h2>
            <p>{{ SharedConstants.messages.resetPassword.invalidTokenDescription }}</p>
            <app-brand-primary-button (click$)="router.navigate(['/auth/login'])" theme="primary">
              {{ SharedConstants.messages.resetPassword.goToLogin }}
            </app-brand-primary-button>
          </div>
        </ng-container>
        
        <ng-container *ngIf="token">
          <lib-mat-form-entity
            [type]="passwordField.type"
            [control]="passwordField.control"
            [label]="passwordField.label"
          ></lib-mat-form-entity>
          
          <lib-mat-form-entity
            [type]="confirmPasswordField.type"
            [control]="confirmPasswordField.control"
            [label]="confirmPasswordField.label"
          ></lib-mat-form-entity>
          
          <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
          </div>
          
          <app-brand-primary-button (click)="onSubmit()" [disabled]="isSubmitting" theme="primary">
            {{ SharedConstants.messages.resetPassword.resetPasswordButton }}
          </app-brand-primary-button>
        </ng-container>
      </div>
    </lib-hero-content-card>
  </div>
</lib-screen-wrapper>
