<ng-container *ngIf="{
  filteredData:(filteredData$|async),
  data:(data$|async)
  } as bag"
>
  <lib-auto-content-loading-indicator *ngIf="bag.data==null;else data"
                                      [skipFirstData]="true"
                                      [loadingLines]="5"
  >
  </lib-auto-content-loading-indicator>
  
  
  <ng-template #data>
    <div class="col gap1">
      <div class="row gap1"
           *ngIf="showSearch"
      >
        <app-local-data-filter></app-local-data-filter>
      </div>
      <flexbox-row-fast
      >
        <ng-container *ngFor="let item of (showSearch?bag.filteredData:bag.data)">
          <div>
            <lib-hero-item-card>
              <app-patch-minimal [data]="item"></app-patch-minimal>
            </lib-hero-item-card>
          </div>
        </ng-container>
      </flexbox-row-fast>
    </div>
  </ng-template>

</ng-container>
