<lib-flex-row xs='column'
              sm='column'
>
  
  <div fxFlex='30'
       fxFlex.xs='100'
       fxFlex.sm='100'
  >
    <mat-card style='background-color: #3a72a8;color: white'
    >
      <!--      <lib-flex-column gap='1em'>-->
      <mat-card-title fxFlex
      >
        Posts
      </mat-card-title>
    </mat-card>
  </div>
  <lib-flex-column fxFlex
  >
    
    <div fxFlex
         *ngIf='(posts$|async).length===0;'
    >
      <mat-progress-bar mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <ng-container *ngFor='let post of posts$|async'>
      
      <mat-card fxFlex
      >
        <lib-flex-column gap='1em'>
          <mat-card-title fxFlex>
            {{ post?.title }}
          </mat-card-title>
          <mat-card-subtitle>
            <lib-flex-column
            >
              <div fxFlex>
                {{ post?.subtitle }}
              </div>
              <lib-flex-row
                fxFlex='100'
              >
                <div fxFlex='100'
                >
                  Posted: {{ post?.created|date }}
                </div>
                <div fxFlex='100'
                     style='text-align: end'
                >
                  Edited: {{ post?.created|date }}
                </div>
              </lib-flex-row>
            </lib-flex-column>
          </mat-card-subtitle>
          <lib-spacer fxFlex></lib-spacer>
          <mat-card-content fxFlex>
            <lib-flex-row>
              <div fxFlex='grow'>
                <!--                <div fxLayoutAlign='start'>{{ message?.content }}</div>-->
              </div>
              <button fxFlex='25'
                      mat-flat-button
                      color="primary"
                      (click)='routing.routeTo(["post",post?.slug.toString()])'
              >More
              </button>
            </lib-flex-row>
          </mat-card-content>
        </lib-flex-column>
      </mat-card>
    </ng-container>
  </lib-flex-column>
</lib-flex-row>
