@if ({
  isCurrentRackEditable: (dataService.isCurrentRackEditable$|async),
  isCurrentRackPropertyOfCurrentUser: (dataService.isCurrentRackPropertyOfCurrentUser$|async),
  user: (userManagerService.loggedUser$|async)
}; as bag) {
  <div class="col parent"
  >
    @if (bag.user && bag.isCurrentRackPropertyOfCurrentUser && bag.isCurrentRackEditable) {
      <div class="col gap1 padB1">
        <lib-mat-form-entity [control]="dataService.formData.name.control"
                             label="Rack name"
                             iconL1="label"
        ></lib-mat-form-entity>
      </div>
    } @else {
      <app-rack-micro [data]="data"
                      [viewConfig]="viewConfig"
      ></app-rack-micro>
    }
    <ng-content></ng-content>
    <mat-divider [inset]="true"
                 style="margin-top:.5rem"
    ></mat-divider>
    @if (!viewConfig.hideButtons) {
      <div class="row gap2 opacizeOnHover"
      >
        @if (bag.user && bag.isCurrentRackPropertyOfCurrentUser) {
          <button mat-icon-button
                  [matTooltip]="data.public ? 'Make rack private' : 'Make rack public'"
                  (click)="dataService.requestRackPrivacyStatusChange$.next()"
                  [disabled]="!bag.isCurrentRackEditable"
          >
            <mat-icon>{{ (dataService.isCurrentRackPrivate$|async) ? 'lock' : 'public' }}</mat-icon>
          </button>
          <button mat-icon-button
                  [matTooltip]="bag.isCurrentRackEditable ? 'Delete rack' : 'Edit rack to delete'"
                  [disabled]="!bag.isCurrentRackEditable"
                  (click)="dataService.deleteRack$.next(data)"
                  [class.danger-action]="bag.isCurrentRackEditable"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        }
        <div fxFlex="grow"></div>
        @if (bag.user && bag.isCurrentRackPropertyOfCurrentUser) {
          <button mat-icon-button
                  matTooltip="Create patch from this rack"
                  (click)="dataService.requestCreatePatchFromRack$.next()"
          >
            <mat-icon>settings_input_composite</mat-icon>
          </button>
        }
        <button mat-icon-button
                [matTooltip]="(userManagerService.loggedUser$|async) ? 'Duplicate rack' : 'Login to duplicate rack'"
                [disabled]="!(userManagerService.loggedUser$|async)"
                (click)="dataService.duplicateRack$.next(data)"
        >
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
      @if (bag.user && bag.isCurrentRackPropertyOfCurrentUser) {
        <app-edit-fab
          [editMode$]="dataService.isCurrentRackEditable$"
          openLabel="Edit rack"
          closeLabel="Lock rack"
          closeIcon="lock"
          (toggle$)="dataService.requestRackEditableStatusChange$.next()"
        ></app-edit-fab>
      }
    }
  </div>
}
