
.parent > .opacizeOnHover {
  opacity: 1;
  transition: opacity 125ms ease-in-out;
}

.parent {
  position: relative;
}

.rackMinimal__editingPreview {
  display: block;
  opacity: 0.5;
  transition: opacity 125ms ease-in-out;
}

.parent > .showOnHover {
  opacity: 1;
}

.rack-action-row {
  align-items: center;
  flex-wrap: wrap;
}

@media (hover: hover) and (pointer: fine) {
  .parent > .opacizeOnHover {
    opacity: 0.2;
  }

  .parent > .showOnHover {
    opacity: 0;
  }

  .parent:hover > .opacizeOnHover {
    opacity: 1;
  }
}
