<div class="col parent"
>
  <div class="col"
  >
    <app-hero-clickable-title [link]="['/racks/details',data.id]"
    >{{data.name}}
    </app-hero-clickable-title>
    <div class="row gap1"
    >
      <app-entity-author [data]="data.author"></app-entity-author>
      <div fxFlex="100"
           fxLayout="row"
           fxLayoutGap="1rem"
           fxLayoutAlign="end"
           *ngIf="!viewConfig.hideHP"
      >
        <mat-card-subtitle
        >{{data.hp}} HP - {{data.rows}} rows
        </mat-card-subtitle>
      </div>
    </div>
  </div>
  <app-timestamps-relative [data]="data"
                           *ngIf="!viewConfig.hideDates"
  ></app-timestamps-relative>
  <ng-content></ng-content>
  <mat-divider [inset]="true"
               style="margin-top:.5rem"
  ></mat-divider>
  <div class="row opacizeOnHover"
       fxLayoutGap="2rem"
       fxLayoutGap.xs="0rem"
       *ngIf="!viewConfig.hideButtons"
  >
    <ng-container *ngIf="{
      isCurrentRackEditable:(dataService.isCurrentRackEditable$|async),
      isCurrentRackPropertyOfCurrentUser:(dataService.isCurrentRackPropertyOfCurrentUser$|async)

    } as bag"
    >
      <ng-container *ngIf="bag.isCurrentRackPropertyOfCurrentUser">
        <a mat-icon-button
           matTooltip="Toggle rack lock"
           (click)="dataService.requestRackEditableStatusChange$.next()"
        >
          <mat-icon>{{bag.isCurrentRackEditable ? 'lock_open' : 'lock_outline'}}</mat-icon>
        </a>
        <a mat-icon-button
           [matTooltip]="bag.isCurrentRackEditable ? 'Delete rack' : 'Unlock rack to delete'"
           [disabled]="!bag.isCurrentRackEditable"
           (click)="dataService.deleteRack$.next(data)"
        >
          <mat-icon>delete_forever</mat-icon>
        </a>
      </ng-container>
    </ng-container>
    <div fxFlex="grow"></div>
    <a mat-icon-button
       matTooltip="Show details"
       [routerLink]="['/racks/details',data.id]"
    >
      <mat-icon>info</mat-icon>
    </a>
  </div>
</div>
