@if ({
  dataLoading: (dataLoading$|async)
}; as bag) {
  @if (bag.dataLoading) {
    <div
      fxLayout="column"
      fxLayoutGap=".5rem"
      [fxHide]="!bag.dataLoading"
    >
      @for (i of [].constructor(loadingLines); track i) {
        <div class="skeleton m1"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <div class="skeleton m2"
        >ullamco laboris nisi ut aliquip ex
        </div>
        <div class="skeleton m3"
        >Excepteur sint occaecat cupidatat non proident
        </div>
      }
    </div>
  }
  <!--  </ng-container>-->
  @if (!bag.dataLoading) {
    <div [@enter]>
      <ng-content></ng-content>
    </div>
  }
}