<ng-container *ngIf="{
                        manufacturer:(manufacturer$|async)
                        } as bag"
>
    <div class="flow col"
    >
        <div class="flow col"
        >
            <mat-card-title>{{data.name}}</mat-card-title>
            <div class="flow row spaceBetween"
                 fxLayoutGap="1rem"
            >
                <div>
                    <mat-card-subtitle
                    >
                        {{bag.manufacturer?.name}}

                    </mat-card-subtitle>
                </div>
                <div style="font-size: small"
                     fxLayoutAlign="center center"
                >
                    {{data.hp}} HP
                </div>
            </div>
        </div>
        <ng-container *ngIf="showAll">
            <div fxFlex="auto"
                 fxLayout="column"
                 fxLayoutGap="1rem"
    
                 *ngIf="data.ins"
            >
                <mat-card-subtitle style="border-right: .5rem solid rgba(193,98,98,0.2)">{{data.ins.length}}
                    INs:
                </mat-card-subtitle>
                <div fxFlex="auto"
                     fxLayout="row wrap"
                     fxLayoutGap="1rem"
                >
                    <mat-chip-list>
                        <ng-container *ngFor="let item of data.ins">
                            <mat-chip cdkDrag
                                      [matTooltip]="item.min+'V => '+item.max+'V'"
                            >
                                {{item.name}}
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </div>
            </div>
            <div fxFlex="auto"
                 fxLayout="column"
                 fxLayoutGap="1rem"
    
                 *ngIf="data.outs"
            >
                <mat-card-subtitle style="border-right: .5rem solid  rgba(98,193,144,0.2)">{{data.outs.length}}
                    OUTs:
                </mat-card-subtitle>
                <div fxFlex="auto"
                     fxLayout="row wrap"
                     fxLayoutGap="1rem"
                >
                    <mat-chip-list>
                        <ng-container *ngFor="let item of data.outs">
                            <mat-chip>
                                {{item.name}}
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </div>
            </div>
            <ng-container *ngIf="data.switches">
                <mat-card-subtitle>{{data.switches.length}} Switches:</mat-card-subtitle>
                <div fxFlex="auto"
                     fxLayout="row wrap"
                     fxLayoutGap="1rem"
                >
                    <mat-chip-list>
                        <ng-container *ngFor="let item of data.switches">
                            <mat-chip>{{item.name}}</mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </div>
            </ng-container>
        </ng-container>
        <mat-divider [inset]="true"
                     style="margin-top:.5rem"
        ></mat-divider>
        <div class="auto"
             fxLayoutAlign="end"
        >
            <button
                    mat-icon-button
                    [routerLink]="['/','details',data.id]"
            >
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</ng-container>