<lib-flex-column>
  <ng-container *ngFor='let messageLine of messages$|async'>
    <lib-flex-row fxFlex>
      <ng-container *ngFor='let message of messageLine'>

        <mat-card class='featureCard'
                  fxFlex
                  style='background-color: #512DA8'
        >
          <mat-card-title>{{ message?.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ message?.subtitle }} | {{ message?.when|date }}
          </mat-card-subtitle>
          <mat-card-content>{{ message?.content }}</mat-card-content>
        </mat-card>
      </ng-container>
    </lib-flex-row>
  </ng-container>
</lib-flex-column>
