
.mat-card-title {
  font-weight: lighter;
  letter-spacing: 0.18em;
  color: white;

}

.mat-card-subtitle {
  color: rgba(255, 255, 255, 0.71);
  font-variant: small-caps;
  //font-style: italic;
}
