<lib-flex-row>
  <lib-flex-column *ngIf='true'
                   fxFlex.lg='70'
                   fxFlex.md='70'
  >
    <ng-container *ngFor='let messageLine of messages$|async'>
      <lib-flex-row fxFlex
      >
        <ng-container *ngFor='let message of messageLine'>

          <mat-card fxFlex
                    class='darkCard'
                    style='background-color: #3a72a8'
          >
            <mat-card-subtitle>
              <lib-flex-row>
                <div fxFlex>
                  {{ message?.subtitle }}
                </div>
                <div fxFlexAlign='end'>
                  {{ message?.when|date }}
                </div>
              </lib-flex-row>
            </mat-card-subtitle>
            <!--            <mat-card-content>{{ message?.content }}</mat-card-content>-->
            <mat-card-title>
              <div fxLayoutAlign='end'>{{ message?.content }}</div>
            </mat-card-title>
            <mat-card-actions>
              <lib-flex-row>
                <div fxFlex>
                  <!--                  <button mat-raised-button>-->
                  <!--                    <mat-icon class="mat-18">delete</mat-icon>-->
                  <!--                  </button>-->
                </div>
              </lib-flex-row>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </lib-flex-row>
    </ng-container>
  </lib-flex-column>
  <lib-flex-column fxFlex>
    <div fxFlex>
      <mat-card
      >
        <mat-card-title>Aggiungi messaggio</mat-card-title>
        <!--        <mat-card-subtitle>/</mat-card-subtitle>-->
        <mat-card-content>
          <lib-flex-row>
            <lib-mat-form-entity [control]='messageAdder.controls.content'
                                 fxFlex
                                 [formGroupRoot]='messageAdder.formGroup'
                                 [type]='messageAdder.type'
                                 placeholder='Tuo messaggio'
            ></lib-mat-form-entity>
            <div fxFlex
                 fxLayoutAlign='center center '
            >
              <button (click)="messageAdder.confirm.emit()"
                      [disabled]='!(messageAdder.formGroup.valid)'
                      mat-flat-button
              >Conferma
              </button>
            </div>
          </lib-flex-row>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card
      >
        <mat-card-title>Statistiche</mat-card-title>
        <mat-card-content>
          <!--          Users connected: {{ ((serverStats$|async)?.visits) }}-->
          <div fxFlex>
            Visite: {{ ((serverStats$|async)?.visits) }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </lib-flex-column>
</lib-flex-row>
