<ng-container *ngIf="{
  user:(userManagerService.user$|async),
  singlePatchData:(dataService.singlePatchData$|async)
  } as bag"
>
  <div class="flow col parent"
  >
    <!--    <div class="flow col"-->
    <!--    >-->
    <app-hero-clickable-title [link]="['/patches/details',data.id]"
                              infoBox
                              infoText="Patch name"
    >{{data.name}}
    </app-hero-clickable-title>
    <app-entity-author [data]="data.author"></app-entity-author>
    <app-timestamps-relative [data]="data"></app-timestamps-relative>
    <!--    </div>-->
    <ng-content></ng-content>
    <mat-divider [inset]="true"
                 style="margin-top:.5rem"
    ></mat-divider>
    <div class="flow row buttons"
         fxLayoutGap="2rem"
         fxLayoutGap.xs="0rem"
    >
      <a mat-icon-button
         matTooltip="Share patch"
         (click)="urlCreatorService.copyLinkToClipboard('/patches/details/'+data.id)"
      >
        <mat-icon>share</mat-icon>
      </a>
      <a mat-icon-button
         matTooltip="Copy patch text"
         [disabled]="true"
      >
        <mat-icon>speaker_notes</mat-icon>
      </a>
      <div fxFlex="grow"></div>
      <ng-container *ngIf="(bag.singlePatchData)&&bag.user&&bag.singlePatchData.author.id==bag.user.id">
        <button mat-icon-button
                matTooltip="Delete patch"
                [disabled]="!bag.user"
                (click)="dataService.deletePatch$.next(data.id)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
        <ng-container *ngIf="(dataService.patchEditingPanelOpenState$|async)==false">
  
          <!--          <app-brand-primary-button (click$)="dataService.patchEditingPanelOpenState$.next(!dataService.patchEditingPanelOpenState$.value)">-->
          <!--            Edit patch-->
          <!--          </app-brand-primary-button>-->
          <button mat-icon-button
                  matTooltip="Edit patch"
                  [disabled]="!bag.user"
                  (click)="dataService.patchEditingPanelOpenState$.next(!dataService.patchEditingPanelOpenState$.value)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="(dataService.patchEditingPanelOpenState$|async)==true">
          <button mat-icon-button
                  matTooltip="Close editor"
                  [disabled]="!bag.user"
                  (click)="dataService.patchEditingPanelOpenState$.next(!dataService.patchEditingPanelOpenState$.value)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </ng-container>
      
      <a mat-icon-button
         matTooltip="Show details"
         [routerLink]="['/patches/details',data.id]"
      >
        <mat-icon>info</mat-icon>
      </a>
    </div>
  </div>
</ng-container>
