<lib-screen-wrapper>
  <div class="col gap1"
  >
    <div class="row gap1"
    >
      <div
           class="sidebar layout-column layout-gap-1 layout-flex-15rem-gt-lg"
      >
        <div>
          <router-outlet name="user"></router-outlet>
        </div>
        <div>
          <router-outlet name="sidebar"></router-outlet>
        </div>
      </div>
      <div class="layout-flex-full layout-row layout-gap-1"
      >
        <div
             class="content layout-flex-grow"
        >
          <ng-container *ngIf="title else content ">
      
            <div class="layout-flex-full layout-column layout-gap-05"
            >
              <mat-toolbar class="layout-flex-4rem"
                           style="background-color: #778698"
                           color="primary"
                           id="navbar"
              >
                <mat-toolbar-row>{{title}}</mat-toolbar-row>
              </mat-toolbar>
    
              <router-outlet></router-outlet>
            </div>

          </ng-container>
  
          <ng-template #content>
            <router-outlet></router-outlet>
          </ng-template>
        </div>
        <div class="layout-flex-full">
          <router-outlet name="sidebar-right"></router-outlet>
        </div>
      </div>
    </div>
    <div class="layout-flex-full">
      <router-outlet name="content-below"></router-outlet>
    </div>
  </div>
</lib-screen-wrapper>
