<section class="recent-activity">
  <h3 class="recent-activity__title">{{ title }}</h3>
  
  @if (items === undefined) {
    <div class="recent-activity__state recent-activity__state--loading">
      <mat-icon>history</mat-icon>
      <span>{{ loadingText }}</span>
    </div>
  } @else if (visibleItems.length === 0) {
    <div class="recent-activity__state">
      <mat-icon>history_toggle_off</mat-icon>
      <span>{{ emptyText }}</span>
    </div>
  } @else {
    <ul class="recent-activity__list">
      @for (item of visibleItems; track item.id) {
        <li class="recent-activity__item">
          <mat-icon class="recent-activity__icon">{{ resolveIcon(item) }}</mat-icon>
          
          <div class="recent-activity__content">
            @if (item.route) {
              <a class="recent-activity__headline"
                 [routerLink]="item.route"
              >
                {{ item.actionLabel }} {{ item.targetLabel }}
              </a>
            } @else {
              <span class="recent-activity__headline">
                {{ item.actionLabel }} {{ item.targetLabel }}
              </span>
            }
            
            @if (item.contextLabel) {
              <div class="recent-activity__context">{{ item.contextLabel }}</div>
            }
            
            <div class="recent-activity__meta">
              @if (item.actorLabel) {
                <span class="recent-activity__actor">{{ item.actorLabel }}</span>
              }
              <time [attr.datetime]="item.timestamp">{{ item.timestamp | timeago }}</time>
            </div>
          </div>
        </li>
      }
    </ul>
  }
</section>