<ng-container *ngIf="{
    dataLoading:(dataLoading$|async)
    } as bag"
>
  <div *ngIf="bag.dataLoading"
       fxLayout="column"
       fxLayoutGap=".5rem"
       [fxHide]="!bag.dataLoading"
  >
    <app-lottie-container fxLayoutAlign="center center"
                          fxFlex="100"
                          style="opacity: 0.25;"
                          [styles]="{maxWidth: '10rem'}"
                          [options]="{path: '/assets/json/lottie/Diagonal Icon.json', loop: true, autoplay: true}"
    ></app-lottie-container>
  </div>
  <!--  </ng-container>-->
  <ng-container *ngIf="!bag.dataLoading">
    <ng-content></ng-content>
  </ng-container>
</ng-container>
