@use "sass:color";
@use "src/app/style/brand-resources.scss" as *;


$transpAm: .95;
mat-card-subtitle {
  padding-top: .5rem;
}

.ins {
  background-color: color.adjust($color-cv-in, $alpha: -$transpAm);
  //border-radius: .5rem;
}

.outs {
  background-color: color.adjust($color-cv-out, $alpha: -$transpAm);
}