<div class="col gap0"
>
  <div class="col gap0"
       *ngIf="outs.length>0"
  >
    <mat-card-subtitle>
      {{outs.length}} OUTs ↗
    </mat-card-subtitle>
    <mat-chip-list>
      <ng-container *ngFor="let item of outs; let i = index">
        <app-module-cvitem [data]="item"
                           kind="out"
                           (click$)="outClick$.next([$event,data])"
                           [@enter]="{ value: '', params: { delay: (i * 25)+100}}"
                           [@leave]="{ value: '', params: { delay:  0 }}"
        ></app-module-cvitem>
      </ng-container>
    </mat-chip-list>
  </div>
  <div class="col gap0"
       *ngIf="ins.length>0"
  >
    <mat-card-subtitle>
      {{ins.length}} INs ↘
    </mat-card-subtitle>
    <mat-chip-list>
      <ng-container *ngFor="let item of ins; let i = index">
        <app-module-cvitem [data]="item"
                           kind="in"
                           (click$)="inClick$.next([$event,data])"
                           [@enter]="{ value: '', params: { delay: (i * 25)+100}}"
                           [@leave]="{ value: '', params: { delay:  5 }}"
        ></app-module-cvitem>
      </ng-container>
    </mat-chip-list>
  </div>
</div>
