<div class="parent"
     ngClass.gt-sm="parentPad"
>
  <div class="col bg item">
    <div class="top">
      <div class="row"
           style="gap:.5rem"
      >
        <div fxFlex="auto"
             class="circle"
        ></div>
        <div fxFlex="auto"
             class="circle"
        ></div>
        <div fxFlex="auto"
             class="circle"
        ></div>
        <div fxFlex="grow"></div>
      </div>
    </div>
    <div fxFlex="auto"
         style="padding:2rem; background: #fff"
    >
      <ng-content></ng-content>
    </div>
    <!--    <div fxFlex="auto"-->
    <!--         class="bottom"-->
    <!--    >-->
    <!--    </div>-->
  </div>
</div>
