<lib-flex-row>
  <!--  <lib-flex-column fxFlex='20'>-->
  <!--    <div fxFlex>-->
  <!--      <mat-card>-->
  <!--      -->
  <!--      </mat-card>-->
  <!--    </div>-->
  <!--  </lib-flex-column>-->
  <lib-flex-column fxFlex>
    <div fxFlex>
      <mat-card>
        <lib-flex-column>
          <mat-card-title fxFlex>Hello, I'm Vlady Yakovenko</mat-card-title>
          <mat-card-content fxFlex>
            Working on this right now
          </mat-card-content>
        </lib-flex-column>
      </mat-card>
    </div><div fxFlex>
      <mat-card>
        <lib-flex-column>
          <mat-card-title fxFlex>Test 0</mat-card-title>
          <mat-card-subtitle fxFlex>Subtitle here</mat-card-subtitle>
          <mat-card-content fxFlex>
            Occupy mumblecore DIY, unicorn try-hard listicle put a bird on it cornhole hell of prism
            vice. Mlkshk flannel tacos brunch hell of. Semiotics master cleanse locavore raclette
            bespoke tattooed. 3 wolf moon brooklyn air plant shoreditch gluten-free, vice
            chicharrones
            photo booth palo santo taiyaki. Kombucha godard semiotics af raclette lomo.
            
            Distillery affogato helvetica trust fund food truck. Tbh meggings hammock aesthetic
            fixie,
            lomo pabst PBR&B. Echo park tumblr pour-over pinterest chartreuse DIY synth irony
            brooklyn
            polaroid bushwick 90's mumblecore cloud bread single-origin coffee. Hot chicken hexagon
            pop-up, man braid vegan cred subway tile trust fund disrupt pabst cronut retro plaid
            brooklyn. Jianbing cronut coloring book shaman. Tumeric banh mi freegan viral celiac
            waistcoat typewriter biodiesel gochujang.
            
            Banjo slow-carb truffaut polaroid cred. Pickled tilde tote bag, fixie enamel pin +1
            meditation iceland hoodie thundercats quinoa. Farm-to-table godard kombucha raclette,
            distillery irony lo-fi franzen biodiesel brunch. Sustainable before they sold out
            freegan,
            wolf meditation letterpress you probably haven't heard of them church-key cred mlkshk
            unicorn palo santo. Offal migas schlitz raw denim flannel cliche salvia direct trade
            subway tile freegan locavore kogi chambray PBR&B ethical.
          </mat-card-content>
        </lib-flex-column>
      </mat-card>
    </div>
  </lib-flex-column>
  <!--  <lib-flex-column fxFlex='20'>-->
  <!--    <div fxFlex>-->
  <!--      <mat-card>-->
  <!--      -->
  <!--      </mat-card>-->
  <!--    </div>-->
  <!--  </lib-flex-column>-->


</lib-flex-row>
