<lib-flex-column fxFlex
>
  
  <div fxFlex
       *ngIf='(links|async).length===0;'
  >
    <mat-progress-bar mode="indeterminate"
    ></mat-progress-bar>
  </div>
  <ng-container *ngFor='let link of links|async'>
    
    <mat-card>
      <mat-card-title>{{link.title}}</mat-card-title>
      <mat-card-content fxFlex>
        <lib-flex-row>
          <div fxFlex='grow'>
          </div>
          <button fxFlex='25'
                  mat-flat-button
                  color="primary"
                  (click)='routing.openInNewTab(link.path)'
          >Open
          </button>
        </lib-flex-row>
      </mat-card-content>
    </mat-card>
  </ng-container>
</lib-flex-column>
