<div fxFlex="auto"
     fxLayout="column"
     fxLayoutGap="2rem"
     style="padding-top: 2rem"
>
  <app-hero-content-card titleNormal="Connections"
                         *ngIf="(dataService.patchesConnections$|async).length>0; else noData"
  >
    <ng-container>
      <div fxFlex="auto"
           fxLayout="column"
           fxLayoutGap="1rem"
      >
        <ng-container *ngFor="let item of dataService.patchesConnections$|async">
          <mat-card>
            <app-patch-connection-minimal [data]="item"></app-patch-connection-minimal>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>
  </app-hero-content-card>
  <!--  <div class="flow row spaceBetween"-->
  <!--       fxLayoutGap="1rem"-->
  <!--       *ngIf="!data.isComplete"-->
  <!--  >-->
  <!--    <mat-card-subtitle fxFlex="auto"-->
  <!--                       fxLayoutAlign="end"-->
  <!--    >-->
  <!--      Module data is incomplete. You can help!-->
  <!--    </mat-card-subtitle>-->
  <!--  </div>-->
  <!--  <app-dev-only-window>-->
  <!--    {{data|json}}-->
  <!--  </app-dev-only-window>-->
  <!--  <app-dev-only-window>-->
  <!--    {{dataService.patchesConnections$|async|json}}-->
  <!--  </app-dev-only-window>-->
</div>

<ng-template #noData>
  <div fxFlex="auto">
    <div fxFlex="auto"
         fxLayout="column"
         fxLayoutGap="1rem"
    >
      <mat-card-subtitle fxLayoutAlign="center center">It looks like this patch has no connections
      </mat-card-subtitle>
      <mat-card-subtitle fxLayoutAlign="center center">¯\_(ツ)_/¯
      </mat-card-subtitle>
    </div>
  </div>
</ng-template>
