@if ({
  connections:(dataService.patchConnections$|async)
}; as bag) {
  <div class="col gap1"
  >
    @if (bag.connections == null) {
      <lib-auto-content-loading-indicator
        [skipFirstData]="true"
        [loadingLines]="5"
      >
      </lib-auto-content-loading-indicator>
    } @else {
      @if ({
        length: (bag.connections.length)
      }; as bagA) {
        @if (bagA.length > 0) {
          <lib-hero-content-card [titleNormal]="'Connections graph'"
          >
            <lib-clean-card>
              <app-patch-graph></app-patch-graph>
            </lib-clean-card>
          </lib-hero-content-card>
        } @else {
          <lib-hero-content-card titleNormal="Connections">
            <div class="col gap1 animate-fadein-slowest"
            >
              <mat-card-subtitle fxLayoutAlign="center start">It looks like this patch has no
                connections
              </mat-card-subtitle>
              <mat-card-subtitle fxLayoutAlign="center start">¯\_(ツ)_/¯
              </mat-card-subtitle>
            </div>
          </lib-hero-content-card>
        }
      }
    }
  </div>
}