@import "../../../app.component";
@import "~src/app/style/brand-resources.scss";

mat-toolbar-row {
  height: 3em;
  //min-width:  fit-content;
}

#title {
  color:         rgba(255, 255, 255, 0.81);
  padding-right: 2em;
  padding-left:  2em;
  //padding-x: 0.5em;
}

.titleTextBig {
  font-size: 1.5em;
}

.titleTextSmall {
  font-size: 1.5em;
}

mat-toolbar-row > .subtitle {
  color: white;
}

mat-toolbar-row > button {
  //background-color: rgba(255, 255, 255, 0.15);
  margin: 0.4em;
}


.selectedLink {
  color:            rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1)
}

.toolbar {
  background-color: $brand-primary;
  margin-bottom:    1em;
}

.sticky {
  //background-color: mat-color($nga-background, card);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top:      0; /* Sets the sticky toolbar to be on top */
  z-index:  1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
