@use "@angular/material" as mat;
@import "../../../app.component";
@import "~src/app/style/brand-resources.scss";

mat-toolbar-row {
  height: 3em;
  //min-width:  fit-content;
}

.title {
  //padding-right: 2em;
  //padding-left:  2em;

  //opacity:           0;
  $appearTime: 250ms;
  $color: rgb(255, 255, 255);
  color: $color;
  //text-decoration: underline;

  &:visited {
    color: $color;
    //text-decoration: underline dotted;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  -webkit-animation: fadein $appearTime; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $appearTime; /* Firefox < 16 */
  -o-animation: fadein $appearTime; /* Opera < 12.1 */
  animation: fadein $appearTime;

  //padding-x: 0.5em;

  font-size: 1rem;
}

.titleTextBig {
  font-size: 1.5em;
}

.titleTextSmall {
  font-size: 1.2em;
  opacity: 0.6;
}

mat-toolbar-row > .subtitle {
  color: white;
}

mat-toolbar-row > button {
  //background-color: rgba(255, 255, 255, 0.15);
  margin: 0.4em;
}

//mat-icon {
//  margin: 0
//}
mat-divider {
  border-color: rgba(255, 255, 255, 0.25);
}

.selectedLink {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

.toolbar {
  background-color: $brand-primary;
  //margin-bottom:    1em;
}

.sticky {
  //background-color: mat.get-color-from-palette($nga-background, card);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
