@import "~src/app/style/brand-resources.scss";


.depadding {
  padding: 0
}

.option {
  color:         rgba(255, 255, 255, 0.95);

  //background-color: $brand-tertiary;
  //color: white;
  //margin-bottom: 0.2em;
  border-radius: 4px !important;

  &.disabled {
    //background-color: $brand-secondary !important;
    opacity: .6;
    color:   rgb(255, 255, 255) !important;

    &:hover {
      background-color: rgba(92, 92, 92, 0);
      cursor:           not-allowed;
    }
  }

  &:hover {
    background-color: transparentize($brand-tertiary, 0.9);
  }

  transition:    125ms;
}

.selected {
  color:            rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1)
}

mat-icon {
  margin: 0;
}