@if ({
  data: (data$|async),
  layoutFlexWidth: (appState.layoutFlexWidth$|async)
}; as bag) {
  @if (bag.layoutFlexWidth) {
    <div class="row "
    >
      @for (item of bag.data; track item) {
        @if (bag.layoutFlexWidth.xs) {
          <a
            mat-icon-button
            class="option stock"
            [routerLink]="item.route"
            routerLinkActive="selected"
            (click)="onClick(item)"
            [disabled]="item.disabled"
            [ngClass]="{'disabled':item.disabled}"
            [matTooltip]="bag.layoutFlexWidth.ltmd?item.label:undefined"
            [ngStyle]="item.style"
          >
            @if (item.icon) {
              <mat-icon>{{ item.icon }}</mat-icon>
            }
            @if (item.icon ? bag.layoutFlexWidth.gtsm : true) {
              {{ item.label }}
            }
          </a>
        }
        @if (bag.layoutFlexWidth.gtxs) {
          <a
            mat-button
            class="option stock"
            [routerLink]="item.route"
            routerLinkActive="selected"
            (click)="onClick(item)"
            [disabled]="item.disabled"
            [ngClass]="{'disabled':item.disabled}"
            [matTooltip]="bag.layoutFlexWidth.ltmd?item.label:undefined"
            [ngStyle]="item.style"
          >
            @if (item.icon) {
              <mat-icon>{{ item.icon }}</mat-icon>
            }
            @if (item.icon ? bag.layoutFlexWidth.gtsm : true) {
              {{ item.label }}
            }
          </a>
        }
      }
    </div>
  }
}