:host {
  display: block;
}

.title {
  display:         block;
  text-decoration: underline rgba(0, 0, 0, 0);
  user-select:     none;
  color:           rgba(0, 0, 0, 0.9);

  &:hover {
    text-decoration: underline !important;
    cursor:          pointer;
  }

  &:visited {
    color: rgba(0, 0, 0, 0.9);
  }
}
