<div class="col gap2">
  <mat-divider inset="true"></mat-divider>
  <div class="col">
    <div fxLayout="column"
         class="root"
    >
      <div fxFlex="100"
           fxLayout="row wrap"
           fxLayout.lt-sm="column"
           fxLayoutGap="1rem"
      >
        <app-label-value-showcase fxFlex="18rem"
                                  fxFlex.lt-sm="auto"
                                  label="Something wrong?"
                                  [bigText]="false"
        >
          <p>This project is in beta! Please report any issues on the discord server</p>
        </app-label-value-showcase>
        <app-build-info fxFlex="18rem"
                        fxFlex.lt-sm="auto"
        ></app-build-info>
        <app-discord-widget fxFlex="18rem"
                            fxFlex.lt-sm="auto"
        ></app-discord-widget>
        <app-feedback-box fxFlex="18rem"
                          fxFlex.lt-sm="auto"
        ></app-feedback-box>
        <div fxFlex="18rem"
             fxFlex.lt-sm="auto"
        >
          <app-producthunt-badge></app-producthunt-badge>
        </div>
      </div>
      <mat-divider inset="true"></mat-divider>
      <div class="row gap1"
           fxLayout.lt-sm="column"
      >
        <app-lottie-container fxLayoutAlign="start end"
                              fxFlex="100"
                              class="transparentize-half"
                              style="max-width: 20rem; margin:-.75rem;"
                              [options]="{path: '/assets/json/lottie/QR Border Icon.json', loop: true, autoplay: true}"
        ></app-lottie-container>
        <h3 fxLayoutAlign="end center"
            fxFlex="grow"
            class="tagline"
        >
          THE MODERN WAY TO MANAGE EVERYTHING MODULAR</h3>
      </div>
    </div>
  
  </div>
</div>
