@import "src/app/style/brand-resources.scss";

.root {
  padding-top: 1rem;
  background-color: rgba(0, 0, 0, .1);
  padding-bottom: 2rem;

  > * {
    padding: 1rem;
  }
}

.tagline {
  @include heading-font;
  text-align: end;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0 !important;
}


a {
  color: rgba(0, 0, 0, 0.93);
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.93);
  //remove the default link styling for clicked links like these

  transition: border-bottom 0.2s ease-in-out;


  &:visited {
    color: rgba(0, 0, 0, 0.93);
  }

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.93);
  }


}