<div fxFlex="auto"
     fxLayout="column"
     fxLayoutGap="1rem"
>
    <div fxFlex="auto"
         fxLayout="column"
         fxLayoutGap="1rem"
    >
        <app-page-header title="Module details"></app-page-header>
        <div fxFlex="auto"
             fxLayoutAlign="center"
        >
            <div fxFlex="40rem">
                <app-hero-content-card>
                    <app-auto-loading-indicator [updateData$]="updateData$"
                                                [data$]="data$"
                    ></app-auto-loading-indicator>
                    <ng-container *ngIf="data$|async"
                    >
                        <app-module-browser-module [data]="(data$|async)"
                        ></app-module-browser-module>
                    </ng-container>
                </app-hero-content-card>
            </div>
        </div>
    </div>
    <pre>{{data$|async|json}}</pre>
</div>