<ng-container *ngIf="{
data:(dataService.singleData$|async)
} as bag"
>
  <app-hero-content-card title="Module details">
    <div fxFlex="auto"
         fxLayout="column"
         fxLayoutGap="1rem"
    >
      <div fxFlex="auto"
           fxLayout="column"
           fxLayoutGap="1rem"
      >
        <div fxFlex="auto"
             fxLayoutAlign="center"
        >
          <div fxFlex="auto"
               fxLayout="column"
               fxLayoutGap="1rem"
          >
            <div>
              <mat-card>
                <app-auto-loading-indicator [updateData$]="dataService.updateSingleData$"
                                            [data$]="dataService.singleData$"
                ></app-auto-loading-indicator>
                <ng-container *ngIf="bag.data"
                >
                  <app-module-browser-module [data]="(bag.data)"
                  ></app-module-browser-module>
                </ng-container>
              </mat-card>
            </div>
            <mat-card *ngIf="bag.data&&dataService.editPanelOpen$|async">
              <app-module-editor
                [data]="(bag.data)"
              ></app-module-editor>
            </mat-card>
          </div>
        </div>
      </div>
      <app-dev-only-window>
        <!--        {{bag.data|json}}-->
      </app-dev-only-window>
    </div>
  </app-hero-content-card>
</ng-container>
