@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono:ital,wght@0,300;0,400;1,300&display=swap');


$brand-primary:             darken(#194987, 10);
$brand-secondary:           #7B8A9C;
$brand-tertiary:            #DFE7EA;

$brand-error:               #F44336;
$brand-error:               rgba($brand-error, .2);


$brand-warning:             #A5490B;
$brand-warning-background:  rgba($brand-warning, .2);


$brand-positive:            #0D7023;
$brand-positive-background: rgba($brand-positive, .2);


$brand-negative:            #700D0D;
$brand-negative-background: rgba($brand-negative, .2);

$main-font:                 'Roboto';
$secondary-font:            'Noto Sans';

body {
  font-family: 'Roboto', sans-serif;
}

//COLORS

$icon-color:                darken(white, 8%) opacity(86%);

$pendingContent-color:      #E0E0E0; //grey 300

//$bg_positiveHigh: rgba(183, 28, 28, 1); //material 900
//$bg_positiveLow: rgba(211, 47, 47, 1); //material 700

//$bg_grey_0: darken(white, 2%); //
//$bg_grey_1: darken(white, 4%); //
//$bg_grey_2: darken(white, 8%); //
//$bg_grey_3: darken(white, 16%); //
//$bg_grey_4: darken(white, 24%); //
//$bg_grey_5: darken(white, 32%); //
//$bg_grey_6: darken(white, 38%); //
//$bg_grey_7: darken(white, 44%); //

//$bg_positiveHigh: rgba(27, 94, 32, 1); //material 900
//$bg_positiveLow: rgba(56, 142, 60, 1); ///material 700
//
//$bg_negativeLow: rgba(211, 47, 47, 1); //material 700
//$bg_negativeHigh: rgba(183, 28, 28, 1); //material 900
//
//$fg_pureWhite: #ffffff;

//$bg_neutral: #0277bd; //material 800
