@use "sass:color";

//$brand-primary:             darken(rgba(64,97,194, 0.98), 10);
$brand-primary:             darken(rgba(61, 115, 188, 0.98), 10);
$brand-secondary:           rgba(123, 138, 156, 0.95);
$brand-tertiary:            rgba(173, 191, 198, 0.45);

$brand-error:               #F44336;
$brand-error:               rgba($brand-error, .2);

$brand-warning:             #A5490B;
$brand-warning-background:  rgba($brand-warning, .2);

$brand-positive:            #0D7023;
$brand-positive-background: rgba($brand-positive, .2);

$brand-negative:            #700D0D;
$brand-negative-background: rgba($brand-negative, .2);

$main-font:                 'Roboto';
$secondary-font:            'Noto Sans';

$icon-color:           darken(white, 8%) opacity(86%);
$pendingContent-color: #E0E0E0; //grey 300
$color-cv-out:         #E2523C;
$color-cv-in:          #4483F2;

@mixin condensed-font {
  font-family: BigShouldersText-Variable, sans-serif;
  font-weight: 400;
}

@mixin title-font {
  font-family: XXIIAven, sans-serif;
  font-weight: 900;
}

@mixin heading-font {
  font-family: NeutralFace, sans-serif;
}

@mixin content-font {
  font-family: XXIIAven, sans-serif;
  font-weight: 400;
}

@mixin monospaced-font {
  font-family: B612Mono-Bold, sans-serif;
}

@mixin scrollbars(
  $size: .5rem,
  $foreground-color: rgba(0,0,0,0.25),
  $background-color: rgba(0,0,0,0.15)
) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background:    $foreground-color;
    border-radius: $size*2;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: thin;
}
