$brand-primary:             #041E50;
$brand-secondary:           #7B8A9C;
$brand-tertiary:            #DFE7EA;

$brand-error:               #F44336;
$brand-error:               rgba($brand-error, .2);


$brand-warning:             #A5490B;
$brand-warning-background:  rgba($brand-warning, .2);


$brand-positive:            #0D7023;
$brand-positive-background: rgba($brand-positive, .2);



$brand-negative:            #700D0D;
$brand-negative-background: rgba($brand-negative, .2);


