@import "constants";

// STRUCTURE
.s-form-section {
    flex-basis: 0;
}

.s-form-section {
    justify-content: space-between;
    align-items: center;
}

.s-margins-LR {
    @extend .s-margins-L;
    @extend .s-margins-R;
}

.s-margins-L {
    margin-left: $dim-standardUnit;
}

.s-margins-R {
    margin-right: $dim-standardUnit;
}

.s-margins-TB {
    @extend .s-margins-T;
    @extend .s-margins-B;
}

.s-margins-T {
    margin-top: $dim-standardUnit;
}

.s-margins-B {
    padding-bottom: $dim-standardUnit;
}

.s-padding-TB {
    @extend .s-padding-T;
    @extend .s-padding-B;
}

.s-padding-T {
    padding-top: $dim-standardUnit;
}

.s-padding-B {
    padding-bottom: $dim-standardUnit;
}

.s-margins-autoCenter {
    margin-left: auto;
    margin-right: auto;
}

.s-margins-autoRight {
    margin-left: auto;
    margin-right: auto;
}

.s-margins-autoLeft {
    margin-left: auto;
    margin-right: auto;
}

.s-center_vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.s-no-padding {
    padding: 0;
}

.s-no-padding-important {
    padding: 0 !important;
}

.s-minuscule-padding {
    padding: 1px;
}


