@import "brand-resources";
@import "reset";
//@import 'material-design-icons-iconfont/dist/material-design-icons.css';
//@import 'typeface-roboto/index.css';
//@import 'typeface-noto-sans/index.css';


body {
  margin:                 0 !important;
  //padding:                0 !important;
  text-rendering:         optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing:              border-box;
  text-rendering:          optimizeLegibility;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning:            auto;

  //transition:25ms;
}

.mat-list-item {
  user-select: none;
}

.mat-slider {
  height: 24px !important; //was 48
}

.mat-slider-horizontal .mat-slider-wrapper {
  top: 11px !important; // was 23 = 48/2-1
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}

mat-action-row {
  margin-top: 1em;
}

mat-card-title {
  margin-bottom: 0 !important;
  font-family: 'Roboto Condensed', sans-serif
}

mat-card-subtitle {
  margin-bottom: 0 !important;
}

::selection {
  background:  rgba(255, 167, 38, 0.39);
  text-shadow: none;
}

fieldset {
  border-color: rgba(0, 0, 0, .06);
}

fieldset > legend {
  $amount:       0.5em;
  padding-right: $amount;
  padding-left:  $amount;

  text-align:    center;
}


@mixin margins {
  margin: $dim-standardUnit;
}

$roundingRadius: 1em;

@mixin round {
  border-radius: $roundingRadius;
}

@mixin round_less {
  $border-radius: $roundingRadius/2;
  border-radius:  $border-radius;
}

mat-expansion-panel {
  user-select: none;
}

.mat-h2, .mat-title, .mat-typography {
  margin: 0 !important;
}

.mat-chip {
  hyphens: none;
}

.roundedCard {
  border: solid 1px #D9DFF1;border-radius: .5rem; padding: 2rem; background: linear-gradient(26deg, rgb(255, 255, 255) 0%, rgb(249, 250, 255) 100%)
}

h1 {
  color: rgba(35, 35, 35, 0.95);
}

p {
  color: rgba(16, 16, 16, 0.8);
}


a {
  color:           rgba(68, 166, 243, 0.9);
  text-decoration: underline;

  &:visited {
    color:           rgba(18, 123, 199, 0.9);
    text-decoration: underline dotted;

  }
}
