@import "reset";
@import "brand-resources";
//@import 'material-design-icons-iconfont/dist/material-design-icons.css';
//@import 'typeface-roboto/index.css';
//@import 'typeface-noto-sans/index.css';


body {
  margin:                 0 !important;
  //padding:                0 !important;
  text-rendering:         optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing:              border-box;
  text-rendering:          optimizeLegibility;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning:            auto;

  //transition:25ms;
}

.mat-list-item {
  user-select: none;
}

.mat-slider {
  height: 24px !important; //was 48
}

.mat-slider-horizontal .mat-slider-wrapper {
  top: 11px !important; // was 23 = 48/2-1
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}

h1, h2, h3, h4, h5, p {
  //margin: 0;
}

mat-action-row {
  margin-top: 1em;
}

mat-card-title {
  margin-bottom: 0 !important;
}

mat-card-subtitle {
  margin-bottom: 0 !important;
}

::selection {
  background:  rgba(255, 167, 38, 0.39);
  text-shadow: none;
}

fieldset {
  border-color: rgba(0, 0, 0, .06);
}

fieldset > legend {
  $amount:       0.5em;
  padding-right: $amount;
  padding-left:  $amount;

  text-align:    center;
}


@mixin margins {
  margin: $dim-standardUnit;
}

$roundingRadius: .5em;

@mixin round {
  border-radius: $roundingRadius;
}

@mixin round_less {
  $border-radius: $roundingRadius/2;
  border-radius:  $border-radius;
}

mat-expansion-panel {
  user-select: none;
}

.mat-divider.mat-divider-inset {
  margin-left: 0 !important;
}

.mat-h2, .mat-title, .mat-typography {
  margin: 0 !important;
}

.mat-chip {
  hyphens: none;
}

.gradientCard {
  //border:     solid .1rem #D9DFF1;
  //border-radius: .5rem;
  padding:    1rem;

  //color:      rgba(255, 255, 255, 0.96);
  //background: linear-gradient(26deg, rgba(255, 255, 255, 0.9) 0%, rgba(234, 234, 234, 0.5) 100%)
}


.ellipsisfade {
  position: relative;
  height:   3.6em; /* exactly three lines */
}

.ellipsisfade:after {
  content:    "";
  text-align: right;
  position:   absolute;
  bottom:     0;
  right:      0;
  width:      70%;
  height:     1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.animate-fadein-slowest {
  animation: fadein 1000ms;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


.monospaced {
  font-family: monospace, monospace;
}


.parent {
  > .opacizeOnHover {
    opacity: 0.2;

  }

  > .showOnHover {
    opacity: 0;
  }
}

.parent:hover > .opacizeOnHover {
  opacity:            1;
  -webkit-transition: opacity 125ms ease-in-out;
  -moz-transition:    opacity 125ms ease-in-out;
  -ms-transition:     opacity 125ms ease-in-out;
  -o-transition:      opacity 125ms ease-in-out;
  transition:         opacity 125ms ease-in-out;
}

.parent:hover > .showOnHover {
  opacity:            1;
  -webkit-transition: opacity 125ms ease-in-out;
  -moz-transition:    opacity 125ms ease-in-out;
  -ms-transition:     opacity 125ms ease-in-out;
  -o-transition:      opacity 125ms ease-in-out;
  transition:         opacity 125ms ease-in-out;
}


@media not all and (hover: none) {
  .opacizeParent {
    > .opacizeOnHover {
      opacity: 0.2;

    }

    > .showOnHover {
      opacity: 0;
    }
  }

  .opacizeParent:hover > .opacizeOnHover {
    opacity:            1;
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition:    opacity 125ms ease-in-out;
    -o-transition:      opacity 125ms ease-in-out;
    transition:         opacity 125ms ease-in-out;
  }

  .opacizeParent:hover > .showOnHover {
    opacity:            1;
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition:    opacity 125ms ease-in-out;
    -o-transition:      opacity 125ms ease-in-out;
    transition:         opacity 125ms ease-in-out;
  }
}


@mixin item-description {
  font-style: italic;
  color:      rgba(0, 0, 0, 0.5);
  @include condensed-font
}