// DEVELOPMENT
$debugBG-Opacity: 0.6;

.D-5 {
    background-color: rgba(25, 32, 49, $debugBG-Opacity);
}

.D-4 {
    background-color: rgba(51, 64, 100, $debugBG-Opacity);
}

.D-3 {
    background-color: rgba(77, 98, 152, $debugBG-Opacity);
}

.D-2 {
    background-color: rgba(89, 113, 176, $debugBG-Opacity);
}

.D-1 {
    background-color: rgba(103, 130, 203, $debugBG-Opacity);
}

.D-0 {
    background-color: rgba(123, 155, 242, $debugBG-Opacity);
}
