@font-face {
  font-family: XXIIAven;
  src: url('/assets/font/XXIIAven-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: XXIIAven;
  src: url('/assets/font/XXIIAven-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: XXIIAven;
  src: url('/assets/font/XXIIAven-Black.ttf') format("truetype");
  font-weight: 900; // black
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: XXIIAven-Bold;
  src: url('/assets/font/XXIIAven-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: XXIIAven-Black;
  src: url('/assets/font/XXIIAven-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: BigShouldersText-Variable;
  src: url('/assets/font/BigShouldersText-VariableFont_wght.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: GangsterGrotesk-Light;
  src: url('/assets/font/GangsterGrotesk-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GangsterGrotesk;
  src: url('/assets/font/GangsterGrotesk-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GangsterGrotesk;
  src: url('/assets/font/GangsterGrotesk-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GangsterGrotesk;
  src: url('/assets/font/GangsterGrotesk-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gravity Points;
  src: url('/assets/font/Gravity Points.otf') format("opentype");
  font-display: swap;
}

@font-face {
  font-family: NeutralFace;
  src: url('/assets/font/NeutralFace.otf') format("opentype");
  font-display: swap;
}

@font-face {
  font-family: OBARNE-X-Regular;
  src: url('/assets/font/OBARNE-X-Regular.otf') format("opentype");
  font-display: swap;
}

@font-face {
  font-family: FUNGISRegular;
  src: url('/assets/font/FUNGISRegular.woff2') format('woff2'), /* Modern Browsers */
  url('/assets/font/FUNGISRegular.otf') format('opentype'); /* Safari, Android, iOS */
  font-display: swap;
}
