$phone-only-max-width: 42rem;
$tablet-plus-min-width: 42.0625rem;
$rack-detail-insights-two-column-min-width: 52rem;
$rack-summary-stacked-max-width: 70.5625rem;
$rack-summary-two-column-min-width: 70.625rem;
