.flow {
  display:               flex;
  box-sizing:            border-box;
  -webkit-box-direction: normal;
}

.row {
  flex-direction:     row;
  -webkit-box-orient: horizontal;
}

.col {
  flex-direction:     column;
  -webkit-box-orient: vertical;
  height:             auto; /*  important for sizing of row heights */
  //margin-bottom:      20px;
}

.auto {
  flex: 1 1 auto;
}

.spaceBetween {
  justify-content: space-between;
}

.grow {
  flex: 1 0 auto;
}

.shrink {
  flex: 0 1 auto;
}

.end {
  justify-content: flex-end;
}


.textEllipse {
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}
