@if (editMode$ | async; as editing) {
  @if (hasPendingChanges$ | async) {
    <button mat-fab
            extended
            (click)="toggle$.emit()"
            class="edit-fab-discard edit-fab-editing"
            matTooltip="Discard unsaved changes and close"
            matTooltipPosition="above"
    >
      <mat-icon>{{ discardIcon }}</mat-icon>
      {{ discardLabel }}
    </button>
  } @else {
    <button mat-fab
            extended
            (click)="toggle$.emit()"
            [class.bouncing]="bouncing$ | async"
            class="edit-fab-editing"
    >
      <mat-icon>{{ closeIcon }}</mat-icon>
      {{ closeLabel }}
    </button>
  }
} @else {
  <button mat-fab extended (click)="toggle$.emit()" [class.bouncing]="bouncing$ | async">
    <mat-icon>{{ openIcon }}</mat-icon>
    {{ openLabel }}
  </button>
}
