@if (editMode$ | async; as editing) {
  @if (hasPendingChanges$ | async) {
    <button mat-fab
            extended
            (click)="toggle$.emit()"
            class="edit-fab-discard edit-fab-editing"
            matTooltip="Discard unsaved changes and close"
            matTooltipPosition="above"
    >
      <mat-icon>warning</mat-icon>
      Discard changes
    </button>
  } @else {
    <button mat-fab
            extended
            (click)="toggle$.emit()"
            [class.bouncing]="bouncing$ | async"
            class="edit-fab-editing"
    >
      <mat-icon>close</mat-icon>
      Close editor
    </button>
  }
} @else {
  <button mat-fab extended (click)="toggle$.emit()" [class.bouncing]="bouncing$ | async">
    <mat-icon>edit</mat-icon>
    Edit
  </button>
}
