<lib-clean-card class=" parent">
  <div class="comment-content">

    <div class="comment-header">
      <div class="username">{{ data.profile.username }}</div>
      <div class="timestamp"
           [matTooltip]="data.updated | date:'medium'"
      >{{ data.updated | timeago }}
      </div>
      @if (data.profile.id === (userService.loggedUser$|async)?.id && isDeletable) {
        <div class="delete"
        >
          <button mat-icon-button (click)="dataService.deleteComment$.next(data.id)" class="danger-action">
            <mat-icon class="opacizeOnHover danger-action"
            >delete
            </mat-icon>
          </button>
        </div>
      }
    </div>
    <!--    <p class="comment-text">{{ data.content }}</p>-->
    
    <div class="comment-text" [innerHTML]="data.content | commentText"></div>
    
    @if (viewConfig.showContext) {
      <app-comment-context
        [data]="data"
      ></app-comment-context>
    }
  </div>
</lib-clean-card>