<lib-clean-card class=" parent">
  <div class="comment-content">

    <div class="comment-header">
      <a class="author-link" [routerLink]="['/u', data.profile.username]">
        <div class="avatar" [style.background-color]="avatarColor(data.profile.username)">
          {{ avatarInitials(data.profile.username) }}
        </div>
      </a>
      <a class="username author-link" [routerLink]="['/u', data.profile.username]">{{ data.profile.username }}</a>
      <div class="timestamp"
           [matTooltip]="data.updated | date:'medium'"
      >{{ data.updated | timeago }}
      </div>
      @if (data.profile.id === (userService.loggedUser$|async)?.id || viewConfig.alwaysDeletable) {
        <div class="delete">
          <button mat-icon-button (click)="requestDelete()" class="danger-action">
            <mat-icon class="opacizeOnHover danger-action">delete</mat-icon>
          </button>
        </div>
      }
    </div>

    <div class="comment-text" [innerHTML]="data.content | commentText"></div>

    @if (viewConfig.showContext) {
      <app-comment-context
        [data]="data"
      ></app-comment-context>
    }
  </div>
</lib-clean-card>
