<mat-accordion>
  @for (item of data; track item) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-expansion-panel-title>
          @if (item.icon) {
            <mat-icon>{{ item.icon }}</mat-icon>
          }
          {{ item.question }}
        </mat-expansion-panel-title>
      </mat-expansion-panel-header>
      <p>{{ item.answer }}</p>
      @if (item.link) {
        <mat-action-row>
          <a [href]="item.link" target="_blank" mat-stroked-button style="text-decoration: none;">
            <mat-icon>open_in_new</mat-icon>
            Open link
          </a>
        </mat-action-row>
      }
    </mat-expansion-panel>
  }
</mat-accordion>