@import "~src/app/style/brand-resources.scss";

app-brand-primary-button {
  margin-top: 2rem;
}

//lib-hero-header{
//  h3{
//    margin-top: 0!important;
//  }
//}

.embedded {
  //margin:      2rem;
  zoom:        .75;
  user-select: none;
  filter:      grayscale(90%);


}
