<div class="col gap0"
>
  
  <app-rack-image [data]="data"
                  [containImage]="viewConfig.containImage"
  ></app-rack-image>

  <app-hero-clickable-title [link]="['/racks/details',data.id]"
  >{{ data.name }}
  </app-hero-clickable-title>
  <div class="row gap1 space-between"
  >
    <app-entity-author [data]="data.author"></app-entity-author>
    @if (!viewConfig.hideHP) {
      <div class="technical-item"
      >
        {{ data.hp }} HP - {{ data.rows }} rows
      </div>
    }
  </div>
  @if (!viewConfig.hideDates) {
    <app-timestamps-relative [data]="data"
    ></app-timestamps-relative>
  }
</div>