<div class="col gap0 rack-micro">
  <app-rack-image [data]="data"
                  [containImage]="viewConfig.containImage"
  ></app-rack-image>

  <div class="rack-micro__titleRow">
    <app-hero-clickable-title [link]="data.public_id ? ['/racks', data.public_id] : ['/racks/details', data.id]"
    >{{ data.name }}
    </app-hero-clickable-title>
    @if (showCoolAction) {
      <app-cool-button
        class="rack-micro__cool"
        [entityType]="ReactionEntityTypes.RACK"
        [entityId]="data.id"
        [eligible]="data.public === true"
        countDisplayMode="count"
        variant="title"
      ></app-cool-button>
    }
  </div>
  <div class="row gap1 space-between"
  >
    <app-entity-author [data]="data.author"></app-entity-author>
    @if (!viewConfig.hideHP) {
      <div class="technical-item"
      >
        {{ data.hp }} HP - {{ data.rows }} rows
      </div>
    }
  </div>
  @if (!viewConfig.hideDates) {
    <app-timestamps-relative [data]="data"
    ></app-timestamps-relative>
  }
</div>