.root {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  scrollbar-width: thin;

  margin-bottom: .5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}