:host {
  display: block;
  width: 100%;
  min-width: 0;
}

.root {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  scrollbar-width: thin;

  margin-bottom: .5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}