<div class="gap0 root">
  <ng-container *ngFor="let item of editorConnections.slice().reverse(); let i = index">
    <lib-clean-card [@exit]>
      <app-patch-connection-minimal [data]="item"
                                    [index]="editorConnections.length-i"
                                    [isEditing]="isEditing"
                                    (remove$)="dataService.removeConnectionFromEditor$.next($event)"
      ></app-patch-connection-minimal>
    </lib-clean-card>
  </ng-container>
</div>