@if ({
  userProfile: (userService.loggedUserFullProfile$|async),
  globalSearchQuery: (globalSearchQuery$|async)
}; as bag) {
  <lib-screen-wrapper maxSize="130rem">
    @if (bag.userProfile) {
      <lib-clean-card style="max-width: 26rem;min-width:18rem">
        <app-label-value-showcase label="User"
        >{{ bag.userProfile.username }}
        </app-label-value-showcase>
      </lib-clean-card>
    }
    <div class="col gap1"
    >
      <div class="profile-layout">
        <div class="container gap1 main-content"
        >
          <app-user-modules class="block"
                            [modulesViewConfig]="viewConfig"
                            [encloseVertically]="true"
                            [globalSearchQuery]="bag.globalSearchQuery ?? ''"
          ></app-user-modules>
          <app-user-racks class="block"
                          [globalSearchQuery]="bag.globalSearchQuery ?? ''"
          ></app-user-racks>
          <app-user-patches class="block"
                            [globalSearchQuery]="bag.globalSearchQuery ?? ''"
          ></app-user-patches>
        </div>
        <div class="sidebar col gap1">
          <app-statistics
            title="Profile stats"
            icon="analytics"
            cardClass="userBG"
            [statistics]="miscStats$ | async"
          ></app-statistics>
          <app-user-manuals></app-user-manuals>
          <app-user-comments></app-user-comments>
        </div>
      </div>
    </div>
    
    <div class="user-area-floating-search">
      <lib-mat-form-entity [control]="globalSearchControl"
                           [type]="formTypes.TEXT"
                           label="Search modules, racks, patches"
                           [formFieldAppearanceType]="'outline'"
      ></lib-mat-form-entity>
    </div>
  </lib-screen-wrapper>
}