<lib-clean-card>
  <div class="row gap1"
  >
    @if (name) {
      <!--            <div fxFlex='2rem'-->
      <!--                 fxLayoutAlign='top'-->
      <!--                 [ngStyle]='{"background-image": "url("+ backgroundImagePath + ")"}'-->
      <!--                 class='bg'-->
      <!--            >-->
      <!--                -->
        <!--            </div>-->
      <div fxLayout="column "
           fxFlex="grow"
           fxLayoutGap="1rem"
      >
        <div fxLayout="row"
             fxFlex="100"
             fxLayoutGap="1rem"
        >
          <!--          <div fxFlex="100"-->
          <!--               style="font-size: 2rem; margin-right: 1rem"-->
          <!--          >👤-->
          <!--          </div>-->
          <div fxFlex="grow"
               class="name"
               fxLayoutAlign="start"
          >
            {{ name }}
          </div>
        </div>
        @if (!hideLogoff) {
          <div fxFlex="100"
               fxLayoutAlign="end"
        >
            <button mat-stroked-button
                    (click)="logoff$.emit()"
          >Logoff
            </button>
          </div>
        }
      </div>
    } @else {
      <div class="col gap1"
      >
        <button mat-flat-button
                color="accent"
                (click)="login$.emit()"
        >Login
        </button>
        <button mat-flat-button
                color="primary"
                (click)="signup$.emit()"
        >Sign up
        </button>
      </div>
    }
  
  </div>
</lib-clean-card>