<mat-card>
    <div fxFlex="auto"
         fxLayout="column"
         fxLayoutGap="2rem"
    >
        <mat-card-subtitle fxFlex="auto">Join the server for feedback and news!</mat-card-subtitle>
        <iframe fxFlex="auto"
                src="https://discord.com/widget?id=830863669885796442&theme=dark"
                allowtransparency="true"
                height="400"
                frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
        ></iframe>
        <mat-card-subtitle>Prefer email? Have some ideas?
            <a href="mailto:europatcher@outlook.com?subject=My%20great%20idea&body=Hello!%20I%20have%20an%20awesome%20idea%3A%0D%0A...">Email
                                                                                                                                        me</a>
        </mat-card-subtitle>
    </div>
</mat-card>