<div class="col gap1"
>
  <lib-hero-content-card titleBig="My racks"
                         class="racksBG"
                         icon="view_stream"
  >
    <div class="col gap1"
    >
      <app-rack-list fxFlex="grow"
                     [data$]="data$"
                     [showSearch]="true"
                     *ngIf="(data$|async).length>0 else noData"
      ></app-rack-list>
      
      <app-brand-primary-button (click$)="add$.next()"
                                fxLayoutAlign="end"
      >Create rack
      </app-brand-primary-button>
    </div>
  </lib-hero-content-card>
</div>

<ng-template #noData>
  <div fxFlex="auto">
    <mat-card-subtitle fxLayoutAlign="center center">It looks like you haven't added any racks
                                                     to your collection yet.
                                                     Try adding some!
    </mat-card-subtitle>
  </div>
</ng-template>
