@if (shellVm$ | async; as shellVm) {
  @if (showWideShellNav && shellVm.wideShell) {
    <div class="title-metro-sticky-shell"
         [class.title-metro-sticky-shell--visible]="showCompactWideShellNav"
         [attr.aria-hidden]="!showCompactWideShellNav">
      <div class="title-metro-sticky-wrapper">
        <ng-container *ngTemplateOutlet="wideShellNav; context: {$implicit: shellVm, floating: true}"></ng-container>
      </div>
    </div>
  }

  <div class="container col">
    <div class="row gap1"
         [class.sides-pad]="sidesPadding"
         [class.vertPadding]="vertPadding">
      @if (titleBig && titleNormal) {
        <div class="col gap1 title bgImage std-rounding">
          @if (titleBig) {
            <h2 style="margin-bottom: 0"
              [@title]
            >
              {{ titleBig }}
            </h2>
          }
          @if (titleNormal) {
            <h3 [@title]
              [class.no-word-break]="!description"
            >
              {{ titleNormal }}
            </h3>
          }
        </div>
      } @else {
        @if (titleBig) {
            <h1
              class="row title bgImage vertPadding gap1"
              [class.title--with-sub]="titleSub">
              <div class="title-shell"
                   [@title]>
                @if (showWideShellNav && shellVm.wideShell) {
                  <div #wideShellNavOrigin class="title-metro-nav-origin">
                    <ng-container *ngTemplateOutlet="wideShellNav; context: {$implicit: shellVm, floating: false}"></ng-container>
                  </div>
                }
                <div class="row gap1 title-heading-row">
                <div class="title-heading-copy"
                     [class.title-heading-copy--with-inline-description]="description && !showHelpButton && showWideShellNav && shellVm.wideShell"
                     [class.title-heading-copy--stacked-description]="titleSub && description && !showHelpButton && showWideShellNav && shellVm.wideShell">
                  <div class="title-text"
                       [class.title-text--with-sub]="titleSub">
                    <span class="title-main">{{ titleBig }}</span>
                    @if (titleSub) {
                      <span class="title-separator"
                            aria-hidden="true">-</span>
                      <span class="title-sub"
                            [attr.title]="titleSub">{{ titleSub }}</span>
                    }
                  </div>
                  @if (description && !showHelpButton && showWideShellNav && shellVm.wideShell) {
                    <div class="title-inline-description">{{ description }}</div>
                  }
                </div>
                @if (icon) {
                  <app-hero-content-card-head-icon [icon]="icon"
                                                   class="icon-center">
                  </app-hero-content-card-head-icon>
                }
                <ng-container *ngTemplateOutlet="helpButton"></ng-container>
              </div>
            </div>
          </h1>
        }
        @if (titleNormal) {
          <h3
            class="row title gap1"
            [@title]>
            @if (icon) {
              <app-hero-content-card-head-icon [icon]="icon"
              >
              </app-hero-content-card-head-icon>
            }
            <div class="title-text">
              {{ titleNormal }}
            </div>
            <ng-container *ngTemplateOutlet="helpButton"></ng-container>
          </h3>
        }
      }
      @if (description && !showHelpButton && !(titleBig && showWideShellNav && shellVm.wideShell)) {
        <mat-card-subtitle
          class="description auto"
          [ngClass]="descriptionAlign"
          [@description]>
          {{ description }}
        </mat-card-subtitle>
      }
    </div>
    
    <div class="content col">
      @if (top) {
        <div class="supporting-top">
          <ng-content select=".TOP"></ng-content>
        </div>
      }
      <div class="sides-pad">
        <ng-content></ng-content>
      </div>
      @if (bottom) {
        <div class="supporting-bottom">
          <ng-content select=".BOTTOM"></ng-content>
        </div>
      }
    </div>
  </div>
}


<ng-template #helpButton>
  @if (description && showHelpButton) {
    <div class="help-icon"
    >
      <mat-icon [matTooltip]="description">
        help
      </mat-icon>
    </div>
  }
</ng-template>

<ng-template #wideShellNav let-shellVm let-floating="floating">
  <div class="title-metro-nav"
       [class.title-metro-nav--floating]="floating">
    @if (!floating) {
      <div class="title-metro-topbar">
        <a class="title-metro-brand"
           routerLink="/home"
           routerLinkActive="title-metro-brand--active"
           aria-label="Go to home">{{ siteTitle }}</a>
      </div>
    }
    <nav class="title-metro-targets" aria-label="Section targets">
      <div class="title-metro-target-group">
        @for (item of wideShellTargets; track trackByNavLink($index, item)) {
          <a
             class="title-metro-target"
             [class.title-metro-target--active]="isWideShellTargetActive(item, shellVm.currentUrl)"
             [routerLink]="item.route"
             [attr.aria-label]="item.label"
           >
            {{ item.label }}
          </a>
        }
      </div>
      <div class="title-metro-target-group title-metro-target-group--account">
        @for (item of shellVm.accountLinks; track trackByNavLink($index, item)) {
          <a
            class="title-metro-target title-metro-target--private"
            [routerLink]="item.route"
            routerLinkActive="title-metro-target--active"
            [attr.aria-label]="item.label"
          >
            <span>{{ item.label }}</span>
          </a>
        }
      </div>
    </nav>
  </div>
</ng-template>
