<div class="col container"
>
  
  <ng-container *ngIf="titleBig&&titleNormal else titles">
    <div class="col gap1 title bgImage">
      <h1 [ngStyle]="titleStyle"
          style="margin-bottom: 0"
      >
        {{titleBig}}
      </h1>
      
      <h3>{{titleNormal}}</h3>
    </div>
  </ng-container>
  
  <div fxFlex="auto"
       *ngIf="description&&!hideDescription&&!showHelpButton"
       fxLayoutAlign="end end"
  >
    <mat-card-subtitle *ngIf="description"
                       class="description pad"
    >{{description}}</mat-card-subtitle>
  </div>
  
  <div class="content"
  >
    <div fxLayout="column "
         fxLayoutGap="0"
    >
      <div fxFlex="auto"
           class="supporting-top"
           *ngIf="top"
      >
        <ng-content select=".TOP"></ng-content>
      </div>
      <div fxFlex="auto"
           class="pad"
      >
        <ng-content></ng-content>
      </div>
      <div fxFlex="auto"
           class="supporting-bottom"
           *ngIf="bottom"
      >
        <ng-content select=".BOTTOM"></ng-content>
      </div>
    </div>
  </div>

</div>

<ng-template #titles>
  
  <h1 fxFlex="grow"
      fxLayout="row"
      *ngIf="titleBig"
      class="title bgImage padHeight"
      [ngStyle]="titleStyle"
  >
    <div fxFlex="grow">{{titleBig}}</div>
    <app-hero-content-card-head-icon
        fxLayoutAlign="center center"
        [icon]="icon"
    
    ></app-hero-content-card-head-icon>
    <ng-container *ngTemplateOutlet="helpButton"></ng-container>
  </h1>
  <h3 fxFlex="grow"
      fxLayout="row"
      *ngIf="titleNormal"
      class="title"
  >
    <div fxFlex="grow">{{titleNormal}}</div>
    <app-hero-content-card-head-icon [icon]="icon"
    ></app-hero-content-card-head-icon>
    <ng-container *ngTemplateOutlet="helpButton"></ng-container>
  </h3>

</ng-template>


<ng-template #helpButton>
  <div fxLayoutAlign="end center"
       fxFlex="auto"
       *ngIf="description&&showHelpButton"
       class="help-icon"
  >
    <mat-icon [matTooltip]="description">help</mat-icon>
  </div>
</ng-template>
