<!--<div style='min-width:350px '>-->
<div fxLayout="column "
     fxLayoutGap="1rem"
>
  <div fxFlex="100"><h1 mat-dialog-title>{{title}}</h1></div>
  <div fxFlex="100"
       *ngIf="description"
  >
    <mat-dialog-content>
      {{description}}
    </mat-dialog-content>
  </div>
  <lib-mat-form-entity fxFlex="100"
                       [label]="data.label"
                       [type]="data.type"
                       [control]="data.control"
                       [errorProvider]="appState.globalUtils.errorProvider"
                       formFieldAppearenceType="outline"
  ></lib-mat-form-entity>
  <div fxLayout="row"
       fxFlex="100"
  >
    <app-brand-primary-button fxFlex="100"
                              (click$)="dialogRef.close({result: undefined})"
    >Annulla
    </app-brand-primary-button>
    <div fxFlex="grow"></div>
    <app-brand-primary-button fxFlex="100"
                              (click$)="dialogRef.close({result: data.control.value})"
                              [error]="!data.control.valid"
    >Conferma
    </app-brand-primary-button>

  </div>
  <mat-progress-bar mode="indeterminate"
                    [style.visibility]="data.control.valid ? 'hidden' : 'visible' "
  ></mat-progress-bar>

</div>
<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
