<div class="col gap1 parent"
>
  <app-module-cvs [data]="data"></app-module-cvs>
  <ng-container *ngIf="switches.length>0">
    <mat-card-subtitle>{{data.switches.length}} Switches:</mat-card-subtitle>
    <div fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
      <!--      <mat-chip-list>-->
      <!--        <ng-container *ngFor="let item of switches">-->
      <!--          &lt;!&ndash;                            <mat-chip>{{item.name}}</mat-chip>&ndash;&gt;-->
      <!--        </ng-container>-->
      <!--      </mat-chip-list>-->
    </div>
  </ng-container>
  
  <p fxLayoutAlign="end"
     style="font-size: 1rem"
     *ngIf="!data.isComplete&&!viewConfig.hideLabels"
     [@help]
  >
    Do you know about this module?
    Please help the community by adding the module's ins and outs.
    Contributors' patches DO sound better!
  </p>
</div>
