<div fxFlex="auto"
     fxLayout="column"
     fxLayoutGap="1rem"
>
  <div fxFlex="auto"
       fxLayout="row"
       fxLayoutGap="1rem"
       fxLayoutAlign="start"
  >
    <mat-card-subtitle infoBox
                       infoText="Created/Updated"
    >{{data.created|date}} - {{data.updated|date}}</mat-card-subtitle>
  </div>
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
       *ngIf="ins.length>0"
  >
    <mat-card-subtitle style="border-right: .5rem solid rgba(193,98,98,0.2)">{{ins.length}}
      INs:
    </mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
      <mat-chip-list>
        <ng-container *ngFor="let item of ins">
          <mat-chip
            infoBox
            [infoText]="item.min+'V → '+item.max+'V'"
          >
            {{item.name}}
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
  <div fxFlex="auto"
       fxLayout="column"
       fxLayoutGap="1rem"
       *ngIf="outs.length>0"
  >
    <mat-card-subtitle style="border-right: .5rem solid  rgba(98,193,144,0.2)">{{outs.length}}
      OUTs:
    </mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
      <mat-chip-list>
        <ng-container *ngFor="let item of outs">
          <mat-chip
            infoBox
            [infoText]="item.min&&item.max?(item.min+'V → '+item.max+'V'):'V ranges unknown'"
          >
            {{item.name}}
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
  <ng-container *ngIf="switches.length>0">
    <mat-card-subtitle>{{data.switches.length}} Switches:</mat-card-subtitle>
    <div fxFlex="auto"
         fxLayout="row wrap"
         fxLayoutGap="1rem"
    >
      <mat-chip-list>
        <ng-container *ngFor="let item of switches">
          <!--                            <mat-chip>{{item.name}}</mat-chip>-->
        </ng-container>
      </mat-chip-list>
    </div>
  </ng-container>
  
  <div class="flow row spaceBetween"
       fxLayoutGap="1rem"
       *ngIf="!data.isComplete"
  >
    <mat-card-subtitle fxFlex="auto"
                       fxLayoutAlign="end"
    >
      Module data is incomplete. You can help!
    </mat-card-subtitle>
  </div>
</div>
