$placeholder_baseColor: #ffffff;

.videoPlaceholder {
  background-color: darken($placeholder_baseColor, 45);

  //height: 15em;
  height: 9*2.5em;
  //width: 16*2.5em;
}

.placeholder {
  background-color: darken($placeholder_baseColor, 35);

  //@extend .placeholderColor;
  height: 1.5em;
}

.placeholder_small {
  background-color: darken($placeholder_baseColor, 30);
  height: 1em;
}

.placeholder_smaller {
  background-color: darken($placeholder_baseColor, 25);
  height: 0.5em;
}

.placeholder_thin {
  background-color: darken($placeholder_baseColor, 20);
  height: 0.25em;
}

.placeholder_big {
  background-color: darken($placeholder_baseColor, 40);
  height: 3em;
}

.placeholder_margin_B {
  margin-bottom: 0.5em;
}

